.THIS .txt-content {
    padding: 20px !important;
}

.THIS .row-space {
    margin: 10px 0;
    justify-content: center;
}

.THIS .row-space h2 {
    font-weight: 700;
}

.THIS .title-row {
    min-width: 120px;
}

.THIS .content-row {
    min-width: 110px;
}

.THIS .confirm-msg {
    margin-bottom: 20px;
    justify-content: center;
}

.THIS .custom-loading {
    height: 430px;
    top: 25% !important;
}

.THIS .lightning-input {
    text-align: left;
}

.THIS .custom-input {
    text-align: left;
}

.THIS .custom-input input {
    padding-left: 16px;
}

.THIS .slds-required  {
    display: none;
}

.THIS .fake-input-style .slds-form-element__control {
    cursor: no-drop;
    background: #f3f3f3;
    border: 1px solid var(--lwc-colorBorderInputDisabled,rgb(201, 201, 201));
    padding: 8px;
    border-radius: var(--slds-c-textarea-radius-border, var(--sds-c-textarea-radius-border, var(--lwc-borderRadiusMedium,0.25rem)));
}

.THIS .icn-style {
    --sds-c-icon-color-foreground-default: white;
    /* --sds-c-icon-color-foreground: orange; */
    /* --sds-c-icon-color-background: white; */
 }