a {
    text-decoration: none;
}

.slds-spinner_container {
    position: fixed;
}

.contentQuestion{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.hideLoading{
    display: none;
}

.showLoading{
    display: block;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
/* @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
} */

main {
    /* background: rgb(225, 244, 253); */
    font-family: "helvethaicaX-thin", sans-serif;
    /* overflow-x: hidden; */
}

section {
    overflow-y: scroll !important;
    overflow-x: hidden !important
}

input::placeholder {
    font-size: 1.8rem;
    font-family: "helvethaicaX-light";
}

.secQuestion h1 + h1{
    color: #007abc;
    font-family: "helvethaicaX-bold", sans-serif;
}

.inputInvalid {
    background: rgb(248, 215, 218);
}

main section.questions {
    position: fixed;
    z-index: auto;
    /* z-index: 999; */
    /* text-align: center; */
    width: 100%;
    margin: 0px auto;
    top: 100px;
    height: 100vh;
    background: rgb(225,244,253);
    /* overflow: hidden !important; */
}
.slds-media__header{
    font-family: "helvethaicaX-bold", sans-serif;
    font-size: 3.5rem; 
    margin: 0; 
    line-height: 4rem;

}

@media (max-width: 767px) and (min-width: 320px){
    main section.questions .persona .col-md-4 + .col-md-4 button.cta{
        margin-bottom: 9em;
    }
} 

@media (max-width: 1490px) and (min-width: 768px){
    main section.questions .persona {
        /* margin-bottom: 6em; */
        margin-bottom: 10em;
    }
    
    main section.questions .persona .col-md-4 + .col-md-4 button.cta{
        margin-bottom: 4em;
    }
} 

@media (max-width: 767px) and (min-width: 320px){
    .logo {
        transform: scale(0.7);
        /* margin-right: -27px !important; */
    }
}

/* @media (min-width: 576px) and (max-width: 1199px){
    .iconCancel{
        text-align:center;
        margin-bottom: 6px !important;
    }
} */

/* @media (min-width: 1200px){
    .iconCancel{
        text-align:center;
        margin-bottom: 8px !important;
    }
} */

@media (max-width: 767px) and (min-width: 700px){
    main {
        /* overflow-x: visible; */
        text-align: center;
        width: 100%;
        margin: 0px auto;
        top: 100px;
        height: 100vh;
        background: rgb(225,244,253);
    }
}
 @media (max-width: 767px) and (min-width: 320px){
    section.questions {
    /* overflow-y: scroll;  */
    }
}
@media (max-width: 767px) and (min-width: 320px){
    main {
        text-align: center;
        width: 100%;
        margin: 0px auto;
        top: 100px;
        height: 100vh;
        background: rgb(20, 22, 22);
        /* overflow-x: visible; */
    }
} 

.refCode{
    font-family:"helvethaicaX-thin",sans-serif;
    font-size: 1.5rem;
}

dt{
    font-family: "helvethaicaX-bold", sans-serif;
}

.exit{
    margin: 0 2rem 0 0;
    display: flex;
    justify-content: flex-end;
}
/* .ex{
    border-radius: 40px;
    padding: 3px 20px;
    color: #333;
    border: 1px solid #007abc;
    display: inline-block;
    font-family: "helvethaicaX-bold",sans-serif;
    background: transparent;
} */
.hvr-grow.download{
    font-family: "helvethaicaX-bold", sans-serif;
}
.bta{

    padding: 10px;
    border-radius: 50px;
    background: white;
    color: #007abc;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: "helvethaicaX-bold", sans-serif;
        width: auto !important;
        font-size: 1.7rem !important;

}

.bta2 {
    font-family: "helvethaicaX-bold", sans-serif;
    border-radius: 40px;
    background-color: #007abc;
    padding: 3px 20px;
    color: white;
    border-bottom: 5px solid #035581;
    display: inline-block;
    position: relative;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    
}

/* .disabledBtn{
    background-color: gray !important;
    background: gray !important;
    pointer-events: none;
} */
.display-4 {
    /* padding-top: 10px; */
    font-size: 3.5rem !important;
}

button.cta {
    border-radius: 40px;
    background-color: #007abc;
    padding: 3px 20px;
    color: white;
    border-bottom: 5px solid #035581;
    display: inline-block;
    position: relative;
}

main section.questions .persona .col-md-4 + .col-md-4 button.ctaDisabed {
    color: white;
    border: 3px solid white;
    background:gray;
    border-radius: 30px;
    font-size: 2rem;
    pointer-events: none;
    /* padding-bottom: 100px; */
}

/* .hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property:  transform;
    transition-property:  transform;
} */

/* .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #007abc;
    color: white;
  
} */

.slds-modal__header {
    position: relative;
    border-bottom: 1px solid #e9ecef;
    background: #007abc;
    color: white;
    padding: 1rem;
}

.slds-modal__footer {
    justify-content: center;
    display: flex;
    /* -ms-flex-align: center; */
    align-items: center;
    /* -ms-flex-pack: end; */
    /* justify-content: flex-end; */
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
.modal-dialog .modal-body form input {
    padding: 20px 10px;
    color: #333;
}
.form-group{
    margin-bottom: 1px;
}
input{
    /* font-family: "helvethaicaX-bold", sans-serif; */
    font-size: 1.5rem;
    line-height: normal;
    width: 100%;
    padding: 10px 10px;
    color: #333;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.close4{
    padding: 0px;
    background-color: transparent;
    color: #000;
    border: 0;
    opacity: 1;
    float: right;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    
}
.otpInput p{
    width: 100%;
    margin: auto auto;
    padding: 0px;
    text-align: center;
}
.close2{
    padding: 0px;
    background-color: transparent;
    filter: brightness(0.6);
    border: 0;
    float: right;

}
.close3{
    padding: 0px;
    background-color: transparent;
    filter: brightness(0.6);
    border: 0;
    float: right;
}
.label{
    display: inline-block;
    margin-bottom: .5rem;
    color: black;
    font-size: 1.5rem;
    font-family: "helvethaicaX-bold", sans-serif;
    float: left;
}
/* .row {
    
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */

.otp{
    margin: 0 auto !important;
    padding: 3px 0 !important;
    display: block;
    width: 286px;
}
.otp-input{
    font-size: 2rem !important;
    font-family: "helvethaicaX-bold", sans-serif;
    padding: 0 10px !important;
    line-height: 0 !important;
    display: block;
    float: left;
    width: 42px;
    margin: 2px;
    text-align: center;				
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
h1{
    font-family: inherit;
    margin-top: 0;
}
/* h2{
        font-size: 2rem;
        padding: 5px 10px 0 0;
        margin: 0;
        display: inline;
        
} */
.frontStyle{
    font-family: "helvethaicaX-bold",sans-serif !important;
}
h3{
    font-size: 1.75rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
h4 {
    font-family: "helvethaicaX-bold", sans-serif;
    width: 100%;
    font-size: 1.5rem;
    margin: -20px auto auto;
    padding: 0;
    text-align: center;
    color: black;
}
h5{
    font-family: "helvethaicaX-bold", sans-serif;
    font-size: 1.75rem;
    padding: 5px 10px 0 0;
    margin: 0;
    display: inline;
    
}
 p {
    width: 100%;
    margin: auto auto;
    padding: 0px;
    text-align: center;
    color: black;
}

.shadow {
    width: 130px;
    height: 15px;
    background: #035581;
    border-radius: 50%;
    margin: -8px auto 0 auto;
}

.inputInvalid {
    background: rgb(248, 215, 218) !important;
}

.backbutton{
    pointer-events: none !important;
}
.errorlog {
    color: red;
    font-size: 1.7rem;
    text-align: center;
    line-height: 2.5rem;
    font-family: "helvethaicaX-bold", sans-serif;
    margin: 0;
}
.successlog {
    color: green;
    font-size: 1.7rem;
    text-align: center;
    line-height: 2.5rem;
    margin: 0;
}
.avatarDescription img {

    width: 75px;
    margin-right: 1rem!important;
    float: left;
}

.resetOTP {
    background: #007abc;
    /* margin-top: 18px; */
    padding: 0px 10px;
    border-radius: 20px;
}

.resetText {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
}

/* header .topbar a{
    opacity: 1;
    color: #007abc;
    opacity: unset;
}
header .topbar a:hover {
    color: white;
    background: rgb(0, 122, 188);
    text-decoration: none;
} */

main section.questions{
    left: 0;
    right: 0;
    background: rgb(226, 244, 253);
}
/* header .topbar {
    text-align: center;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    z-index: 0;
    left: 0;
    right: 0;
    background: rgb(226, 244, 253);
} */

/* .slds-backdrop {
    background-color: blue;
} */

.slds-modal__container {
    z-index: 200 !important;
    margin: 0 auto;
    width: 96%;
    height: 500px;
}

@media (max-width: 1100px) and (min-width: 768px){
    .slds-modal__container {
        z-index: 200 !important;
        margin: -4em auto;
        width: 96%;
        height: 500px;
    }
}

@media (max-width: 767px) and (min-width: 320px){
    .slds-modal__container{
        z-index: 200 !important;
        margin: 0 auto;
        height: 440px;
    }
}

@media (max-width: 575px){
    /* .iconCancel{
        text-align:center;
    } */
    /* .topbar a {
        border: none !important;
        background: white;
    } */
    /* .cta {
        padding: 8px 8px;
    } */
}


  header .unsupported, header .orientation {
    display: none;
  }
  
  header .unsupported img, header .orientation img {
    margin: 30px 110px 0;
  }
  
  header .unsupported h2, header .orientation h2 {
    line-height: 2rem;
    font-weight: bold !important;
    padding: 0 30px;
    position: relative;
    top: 20px;
    text-align: center;
    color: #666;
  }

  .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

@media (max-width: 1300px) and (min-width: 1200px){
    .padsq{
        padding-bottom: 5rem !important;;
    }
}

@media (max-width: 1600px) and (min-width: 1500px){
    .padsq{
        padding-bottom: 8.5rem !important;;
    }
}