.THIS .sub-select-title {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.THIS .chart-container {
    width: 250px;
    margin-bottom: 10px;
}

.THIS .f_title {
    width: 100px;
    text-align: right;
    margin-right: 9px;
}

.THIS .slds-tabs_default__content, .THIS .slds-tabs_scoped__content {
    display: none !important;
}

/* .THIS .slds-radio_button__label {
    background: var(--lwc-colorTextButtonBrand,rgb(255, 255, 255));
    color: var(--lwc-brandAccessible,rgb(1, 118, 211))
}

.THIS .slds-radio_button__label:hover {
    color: rgb(38 79 127);
}

.THIS .selectedBtn {
    background: var(--lwc-brandAccessible,rgb(1, 118, 211));
    color: var(--lwc-colorTextButtonBrand,rgb(255, 255, 255));
}

.THIS .selectedBtn:hover {
    background: rgb(38 79 127);
} */