.THIS .key-perf-tb th{
    background: #f3f3f3;
    border: 1px solid gainsboro;
    text-align: center;
    padding: 5px;
}

.THIS .key-perf-tb td {
    padding: 5px;
    border: 1px solid gainsboro;
}

.THIS .key-perf-tb tr:hover {
    background: #f3f3f3;
}

.THIS .sub-lv1 {
    padding-left: 24px !important;
}

.THIS .sub-lv2 {
    padding-left: 46px !important;
}

.THIS .disable-cell {
    background: #f3f3f3;
}

.THIS .center-data {
    text-align: center;
}

.THIS .expand-btn {
    display: inline-block;
    width: 12px;
    height: 12px;
    text-align: center;
    background: #0176d3;
    color: #fff;
    line-height: 1;
    border-radius: 14px;
    margin-right: 3px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;

    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.THIS .expand-btn:hover {
    background: #0366b7;
}