.THIS {
}
.THIS .fixed-column {
    position: sticky;
    background-color: #fff;
    z-index: 1;
}
.THIS.total-row {
    font-weight: bold;
    background-color: rgb(208, 202, 202, 1);
}

.THIS.total-row .fixed-column{
    background-color: rgb(208, 202, 202, 1);
}