.THIS .slds-button{
    text-align: center
}
.THIS .left-align{
    text-align: left !important;
}
.THIS .right-align{
    text-align: right;
}
.THIS .slds-grid_align-end
{
    justify-content: left !important; 
}