.THIS {
    position: relative;
    height: 100%;
    overflow: scroll;
}
/*
 .THIS.slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
}
.THIS .label-hidden > label {
    display: none;
} */

.THIS .slds-accordion__summary-heading {
    padding: 0 .5rem;
    background-color: var(--lwc-colorBackground, rgb(243, 242, 242));
    display: flex;
    align-items: center;
    font-size: var(--lwc-varFontSize5, 1rem);
    line-height: var(--lwc-lineHeightButton, 1.875rem);
    border: var(--lwc-borderWidthThin, 1px) solid transparent;
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
}

.THIS .slds-accordion__summary-action lightning-primitive-icon {
    display: none;
}

/* Name FieldNameApi */
.THIS .leadName {
    width: 100%;
}

.THIS .customPosition {
    width:100%;
    
    
}
@media (max-width: 3000px) {
    .THIS .leadName fieldset .slds-form-element__control lightning-picklist[data-field="salutation"] {
        width: 16%;
        padding: 0 .25rem;
        float: left;
        padding-left: 0;
        
    }

    .THIS .leadName fieldset .slds-form-element__control lightning-input[data-field="firstName"] {
        width: 33%;
        padding: 0 .25rem;
        float: left;
        
    }

    .THIS .leadName fieldset .slds-form-element__control lightning-input[data-field="lastName"] {
        width: 51%;
        padding: 0 .25rem 0 1.5rem;
        float: left;
        
    }
    .THIS .customPosition {
        position: relative;
        width: 100%;
    }
}

@media (max-width: 425px) {
    .THIS .leadName fieldset .slds-form-element__control lightning-picklist[data-field="salutation"] {
        width: 32%;
        padding: 0 .5rem .5rem 0;
        float: left;
        padding-left: 0;
    }

    .THIS .leadName fieldset .slds-form-element__control lightning-input[data-field="firstName"] {
        width: 68%;
        padding: 0 0 .5rem .5rem;
        float: left;
    }

    .THIS .leadName fieldset .slds-form-element__control lightning-input[data-field="lastName"] {
        width: 100%;
        padding: .5rem 0 0 0;
        float: left;
    }
    .THIS .customPosition {
        position: relative;
        float: left;
        
    }
}