.THIS {
}
.THIS .teble-Number{
    text-align: right !important;
}
.THIS .fixed-column {
    position: sticky;
    z-index: 3;
}

.THIS th {
    padding: 4px 8px !important;
    position: sticky;
    top: 0;
    z-index: 2;
}

.THIS .border-line-color {
    border-top: 1px solid white !important;
    border-bottom: 1px solid white !important;
    border-left: 1px solid white !important;  
    border-right: 1px solid white !important;
}

.THIS .first-color {
    background-color: rgb(115, 115, 115);
    color:rgb(255, 255, 255);
}

.THIS .second-color {
    background-color: rgba(13, 110, 221);
    color: rgb(255, 255, 255);
}

.THIS .third-color {
    background-color: rgba(255, 165, 0);
    color: rgba(38, 38, 27);
}

.THIS .total-team-row {
    font-weight: bold;
    background-color: rgb(222, 237, 249);
    color:  rgb(31, 36, 154);
}

.THIS .total-team-row .fixed-column{
    background-color: rgb(222, 237, 249);
    color:  rgb(31, 36, 154);
}

.THIS .total-group-row {
    font-weight: bold;
    background-color: rgb(255 231 163);
    color:  rgb(31, 36, 154);
}

.THIS .total-group-row .fixed-column{
    background-color: rgb(255 231 163);
    color:  rgb(31, 36, 154);
}