.THIS .inputStyle{
    margin-top: -10px;
    
}

.THIS .labelStyle{
    margin-top: 10px;
    margin-left: 10px;
    
}

.THIS .slds-form-element{
    margin-top: -10px;
}

.THIS .errorText {
    font-size: small;
    color: red;
}

.THIS .section_header{
    margin-left: 10px;
}

.THIS .customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}
/* .THIS .slds-input[readonly]{
    background-color: rgb(242,242,242);
} */