.THIS .close_button{
    position: absolute;
    /* background: red; */
    color: white;
    top: 0px;
    right: 0px;
}
.THIS .slds-modal__close{
    color : black
}
.THIS .slds-required{
    display: none;
}
.THIS .slds-form-element__help{
    display: none;
}