.THIS .inputStyle{
    margin-top: -10px;
    width: 90%;

}

.THIS .outputStyle{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.THIS .lightning_select{
    width:120px;
}

.THIS .labelStyle{
    margin-top: 10px;
    margin-left: 10px;
    width: 80%;
}

.THIS .section_header{
    margin-left: 10px;
}

.THIS.exampleHolder{
    /* position: relative;
    display: inline-block; */
    width: 100%;
    height: 100%;
}

@media (min-width: 1366px) and (max-width: 1439px){
    .THIS .productname-title{
        width:180px
    }
    .THIS .productname-body{
        width:145px;
        margin-top:5px;
    }
}

@media (min-width: 1440px) {
    .THIS .productname-title{
        width:200px
    }
    .THIS .productname-body{
        width:220px;
        margin-top:5px;
    }
}