.THIS .warning-card{
    background-color:#fcfbce;
    /* text-align: center;
    font-size: large; */
}

.THIS lightning-icon.some-indicator > lightning-primitive-icon > svg > use{
    fill: green;
}