.THIS.fixHeight {
    height: 10em;
}

lightning-spinner.THIS {
    z-index: 10 !important;
}

.THIS .slds-form-element__label {
    font-size: 11px !important;
    color: #3E3E3C;
}

.THIS .slds-form-element__static {
    font-size: 11px !important;
    color: #3E3E3C;
   
}

.THIS .margin_auto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.THIS .margin_auto img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.THIS .text_align-center {
    text-align: center;
}

.THIS .custom_form{
    padding-left: 50%;
    padding-right: 10%;
    margin-top:2%;
}

.THIS .textform {
    font-size: 11px !important;
    color: #3E3E3C;    
}

.THIS .waterMark{
    background-image: var(--backgroundImage);
}