.THIS .f_title {
    display: inline-block;
    /* min-width: 126px; */
    /* background: green; */
    padding-right: 5px;
    /* text-align: right; */
    /* font-weight: 600; */
}

.THIS .grade_block {
    width: 35%;
}

.THIS .grade_block_first {
    width: 30%;
}

.THIS .sub-list {
    padding-left: 60px;
}

.THIS .section-row {
    display: flex;
    align-items: center;
    height: 23px;
}

.THIS .license-row {
    display: flex;
    margin-top: 4px;
}

.THIS .license-circle {
    display: flex;
    width: 23px;
    height: 23px;
    background: #ffbe87;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5px;
}

.THIS .license-circle .license {
    font-weight: 800;
    font-size: 11px;
    cursor: default;
}

.THIS .no-license .license {
    color: #8b8b8b;
}

.THIS .check-icon {
    position: absolute;
    margin-top: 14px;
    margin-left: 8px;
}

.THIS .check-icon svg {
    width: 10px;
    fill: #4c4c4c;
}

.THIS .no-license {
    background: #ded0c3;
}

.THIS .has-license {
    background: #ffbe87;
}

.THIS .padding-card {
    padding: 10px 15px;
}

.THIS .key-perf-tb th{
    background: #f3f3f3;
    border: 1px solid gainsboro;
    /* text-align: center; */
    padding-top: 5px;
    padding-bottom: 5px;
}

.THIS .key-perf-tb td {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid gainsboro;
}

.THIS .key-perf-tb button {
    width: 85px;
}

.THIS .toggle {
    display: none;
}

.THIS .tooltipdiv{
    width:auto;
    height:auto;
    padding:10px;
    position:absolute;
    left:45px;
    box-shadow:3px 3px #888888;
    background-color:#f9f9f9;
}

.THIS .tooltipdiv2{
    width:auto;
    height:auto;
    padding:10px;
    position:absolute;
    top: 50px;
    /* left:45px; */
    box-shadow:3px 3px #888888;
    background-color:#f9f9f9;
}

.THIS .checked-icon {
    position: absolute;
    margin-top: 13px;
    font-size: 7px;
    margin-left: 6px;
    cursor: default;
}

.THIS .header-sort:hover {
    cursor: pointer;
    color: rgb(41, 41, 41);
    background: #e5e5e5;
}

.THIS .unsort {
    opacity: 0.5;
}

.THIS .has-license:hover {
    background: #efb17a;
}

.THIS .no-license:hover {
    background: #ddc7b3;
}

.THIS .top-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.THIS .content-row {
    display: flex;
    flex-direction: row;
}

.THIS .col1 {
    max-width: 200px;
}

.THIS .col2 {
    min-width: 260px;
}

.THIS .col3 {
    min-width: 180px;
}

.THIS .col4 {
    min-width: 140px;
}

.THIS .col5 {
    min-width: 135px;
}

.THIS .col6 {
    min-width: 115px;
}

.THIS .col7 {
    min-width: 58px;
}

.THIS .col8 {
    min-width: 65px;
}

/* .THIS .col9 {
    width: 10%;
} */

.THIS .col10 {
    min-width: 115px;
}

.THIS .section-col {
    width: 100%;
}

.THIS .btn-section {
    min-width: 295px;
    justify-content: flex-end;
    display: flex;
    margin-bottom: 5px;
}

.THIS .summary-button svg {
    width: 100%; 
    height: 1.3rem;
}

.THIS .section-container {
    display: flex;
    flex-direction: column;
}

.THIS .sale-info-section {
    display: flex;
}

/* @media all {
    .THIS .watermark {
      display: none;
      background-color: #4c4c4c;
      float: right;
    }
  
    .THIS .pagebreak {
        background-color: #4c4c4c;
    }
  }
   */
   /* .THIS .watermark {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZlcnNpb249JzEuMScgaGVpZ2h0PSc5MHB4JyB3aWR0aD0nMTQwcHgnPjx0ZXh0IHRyYW5zZm9ybT0ndHJhbnNsYXRlKDIwLCA2NSkgcm90YXRlKC00NSknIGZpbGw9J3JnYigyMjYsMjI2LDIyNiknIGZvbnQtc2l6ZT0nMzAnID5KYW1lczwvdGV4dD48L3N2Zz4=") !important;
} */
@media print {
    .THIS * {
        -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
        color-adjust: exact !important;  /*Firefox*/
      }
    }