.THIS .bg-table table {
    background-image: var(--backgroundImage);
    width: 100%
}
@media (max-width: 50rem) {
    .THIS article.slds-card .slds-card__header .slds-text-heading_small {
        font-size: 1rem;
    }

    .THIS lightning-datatable lightning-formatted-text,
    .THIS lightning-datatable lightning-formatted-number,
    .THIS lightning-datatable lightning-button button {
        font-size: smaller;
    }

    .THIS lightning-datatable lightning-button button {
        line-height: 1 !important;
        text-align: left !important;
    }
}

@media only screen and (min-width: 64rem) {
    .THIS lightning-datatable lightning-button button {
        line-height: 0;
        white-space: unset;
    }

    /* .THIS lightning-datatable .slds-table_header-fixed_container.slds-scrollable_x {
        overflow-x: hidden !important;
    } */
}

.THIS lightning-datatable .notFound,
.THIS lightning-datatable .notFound lightning-formatted-url a,
.THIS lightning-datatable .notFound lightning-button button,
.THIS a.notFound {
    color: red !important;
}