.THIS {
    position: relative;
    height: 100%;
    overflow: scroll;
}

.THIS .customPosition {
    position: relative;
    top: -13.5px;
    padding-left: 8px;
    right: 4px;
    
}

.THIS .slds-accordion__summary-heading {
    background-color: var(--lwc-colorBackground, rgb(243, 242, 242));
    display: flex;
    align-items: center;
    font-size: var(--lwc-varFontSize5, 1rem);
    line-height: var(--lwc-lineHeightButton, 1.875rem);
    border: var(--lwc-borderWidthThin, 1px) solid transparent;
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
}

.THIS .slds-form-element {
    width: 100%;
    position: relative;
    min-width: 0;
}

.THIS .customPositionSF1 {
    /*display: inline;*/
    top: -20px;
    left: 33%;   
}

.THIS .button-in-line {
    position: relative;
    left: 33.1%;
    display: inline;
}

.THIS .counterParty {
    position: relative;
    left: 33.1%;
    padding-right: 33.5%;
}

.THIS .TMBcounterParty {
    top:-17px;
    position:relative;
}

@media (max-width: 900px) {
    .THIS div.customcss1{
        width: 102%;
        clear: none;
    }

    .THIS div.customcss2{
        width: 102%;
        clear: none;
        background-color: yellow;
        display: inline;
    }

    .THIS .customCounterpartySF1 {
        top: -37px;
    }

    .THIS .TMBcounterParty {
        top:-25px;
        position:relative;
    }
}

@media (max-width: 640px) {
    .THIS .slds-form-element {
        width: 100%;
        position: relative;
    }
}
@media (min-width: 1281px) {
    .THIS .slds-form-element {
        width: 100%;
        position: relative;
        min-width: 0;
    }
    .THIS .slds-textarea {
        height: 200px;
    }
    .THIS .customPosition {
        position: relative;
        display: inline;
        top: -13.5px;
       	
       
    }
  	/* .THIS .slds-select_container {
        position: relative;
        width: 66.5%;
        left: 33.7%;
    } */
    .THIS .acc {
        right: 16.9%;
        width: 50%;
        float: right;
        position: relative;                          
    }
}