.THIS .slds-modal__footer {
    border: 0;
    background: 0;
    box-shadow: 0 0 black;
    padding: 0;
}

.THIS .slds-card__footer {
    border-top: 0;
}

.THIS .RTL_AL_Refer_No__c {
    font-size: var(--lwc-fontSize7, 1.25rem);
}

.THIS .slds-card__body .slds-box {
    height: 6.5rem;
    max-height: 6.5rem;
    overflow: auto;
}