.THIS .table-line-top-left{
    border-bottom: 1pt solid black;
    border-top: 1pt solid black;
    border-left: 1pt solid black;
    border-right: 1pt solid black;
    min-height: 100px;
    /* height: 200px; */
}

.THIS .table-line-top-right{
    border-bottom: 1pt solid black;
    border-top: 1pt solid black;
    border-right: 1pt solid black;
    min-height: 100px;
    /* height: 200px; */
}

.THIS .table-line-bottom-left{
    border-bottom: 1pt solid black;
    border-left: 1pt solid black;
    border-right: 1pt solid black;
    min-height: 100px;
    /* height: 200px; */
}

.THIS .table-line-bottom-right{
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    min-height: 100px;
    /* height: 200px; */
}

.THIS .tab-style{
    padding: 15px;
}

.THIS .table-channel th{
    background-color: rgb(240, 240, 240);
    font-weight: 400;
    border-bottom: 1pt solid rgb(240, 240, 240) ;
    color: solid black;
   
}

.THIS .btn-section{
    position: absolute;
    right: 15px;
    top: 20px;
    /* bottom: 10px; */
}

.THIS .help-button svg{
    width: 0.7rem;
    height: 100%;
   /*  padding: 0.1rem; */
}

.THIS .summary-button svg{
    /* padding: 0.1rem; */
    width: 1.3rem;
    height: 100%;
}