.THIS {}

.THIS .bg-watermark {
    background-image: var(--backgroundImage);
}

.THIS .error {
    margin-top: auto;
    padding: 12.5px;
}

.THIS .success {
    margin-top: auto;
    padding: 12.5px;
}

.THIS .search-btn {
    position: relative;
}