.THIS .right-align {
    text-align: right !important;
}

.THIS .center-align {
    text-align: center !important;
}

.THIS .sub-product {
    padding-left: 20px;
}

.THIS td {
    padding: 4px 8px !important;
}

.THIS .fixed-column {
    position: sticky;
    z-index: 1;
    background-color: white;
}

.THIS.total-team-row {
    background-color: rgb(222, 237, 249);
    color:  rgb(31, 36, 154);
}

.THIS.total-team-row .fixed-column{
    background-color: rgb(222, 237, 249);
    color:  rgb(31, 36, 154);
}

.THIS.total-group-row {
    background-color: rgb(255 231 163);
    color:  rgb(31, 36, 154);
}

.THIS.total-group-row .fixed-column{
    background-color: rgb(255 231 163);
    color:  rgb(31, 36, 154);
}