.THIS {
    background-color: white;
    overflow: scroll;
    height: 100%;
}

.THIS.scrollerSize {
    height: -webkit-fill-available;
    position: relative;
}

.THIS .slds-button:focus {
    box-shadow: unset;
}

.THIS .slds-notify_container {
    z-index: 0;
}

.THIS .slds-notify_container .fixed-minWidth {
    min-width: 0;
}

.THIS .slds-icon.fillError svg {
    fill: rgb(255, 255, 255);
}

.THIS .slds-table tbody tr {
    color: rgb(0, 109, 204);
}

.THIS .slds-badge {
    color: #54698d;
}