.THIS lightning-icon.icon-status-online > lightning-primitive-icon > svg{
    fill: green;
}
.THIS lightning-icon.icon-status-online > span > lightning-primitive-icon > svg{
    fill: green;
}
.THIS lightning-icon.icon-status-offline > lightning-primitive-icon > svg{
    fill: red;
}
.THIS lightning-icon.icon-status-offline > span > lightning-primitive-icon > svg{
    fill: red;
}