.THIS {
    background-color: #fff;
}

.THIS .slds-timeline {
    padding: 1rem;
}

.THIS .slds-icon_container {
    border-radius: 8px;
}

.THIS .slds-timeline__icon {
    border: none;
}

.THIS .status {
    margin-left: 1em;
}

.THIS .slds-button_icon {
    margin-right: 0 !important;
}

.THIS .slds-timeline__item_opportunity:before {
    background: #fcb95b;
}

.THIS .slds-timeline__item_case:before {
    background: #f2cf5b;
}

.THIS .slds-timeline__item_campaign_members:before {
    background: #f49656;
}

.THIS .slds-timeline__item_employee_organization:before {
    background: #00a2df;
}

.THIS .w-full {
    width: 100%;
}

.THIS .section-loadmore {
    padding: 10px;
}

.THIS .loadmore-btn {
    padding: 10px;
}

.THIS .pb-10 {
    padding-bottom: 10px;
}

.THIS .flex {
    display: flex;
}

.THIS .justify-center {
    justify-content: center;
}

.THIS .justify-between {
    justify-content: space-between;
}

.THIS .timeline-days {
    padding-left: 23px;
    margin: 1em 0;
}

.THIS .p-5 {
    padding: 5px;
}

.THIS .justify-end {
    justify-content: end;
}

.THIS .slds-dropdown_left {
    left: unset !important;
    right: 0 !important;
}

.THIS .slds-button:focus {
    box-shadow: none !important;
}
.THIS .slds-button:active {
    border-color: 0 !important;
}

.THIS .warning-text {
    font-weight: bold;
    font-size: large;
    color: red;
}

.THIS .slds-dropdown_length-with-icon-10 {
    margin: 10px;
}

.THIS .slds-form-element__control .slds-checkbox {
    margin-bottom: 5px;
}

.THIS .white-space-pre {
    white-space: pre;
}

.THIS .exampleHolder {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.THIS .slds-spinner_container {
    height: 100% !important;
    min-height: 100% !important;
}

.THIS .filter-text {
    line-height: 32px;
    margin-right: 10px;
}

.THIS .slds-dropdown .slds-dropdown_length-with-icon-10 {
    margin: 10px;
    width: 1000px !important;
}