.THIS .card-container{
    margin:20px 5%;
}

.THIS .slds-textarea {
    height:160px !important;
}

/* @media screen and (min-width: 1024px){
    .THIS .card-container{
        margin:20px 15%;
    }
} */