.THIS {
    position: relative;
    height: 100%;
    overflow: scroll;
}

.THIS .slds-accordion__summary-heading {
    padding: 0 .5rem;
    background-color: var(--lwc-colorBackground, rgb(243, 242, 242));
    display: flex;
    align-items: center;
    font-size: var(--lwc-varFontSize5, 1rem);
    line-height: var(--lwc-lineHeightButton, 1.875rem);
    border: var(--lwc-borderWidthThin, 1px) solid transparent;
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
}

.THIS .slds-accordion__summary-action lightning-primitive-icon {
    display: none;
}