.THIS.fixHeight {
    height: 10em;
}

lightning-spinner.THIS {
    z-index: 10 !important;
}

.THIS .slds-form-element__label {
    font-size: 11px !important;
    color: #3E3E3C;
}

.THIS .slds-form-element__static {
    font-size: 11px !important;
    color: #3E3E3C;
}

.THIS .custom_form{
    padding-left: 50%;
    padding-right: 10%;
    margin-top:2%;
}

.THIS .slds-form-element_readonly{
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
    margin-bottom: 0;
    margin-right: 10%;
}

.THIS .waterMark{
    background-image: var(--backgroundImage);
}