.THIS {
    background-color: white;
    /* overflow: scroll; */
    height: calc((100%) - (108px + 22px));
}

.THIS .icon_white svg {
    fill: white;
}

.THIS .section {
    background: #F4F6F9;
}

.THIS .addProduct {
    border: 1px solid rgb(221, 219, 218);
}

.THIS .slds-var-p-horizontal_xx-small {
    color: #16325C;
}

.THIS .slds-text-title,
.THIS .slds-text-heading_small {
    color: #16325C;
}

.THIS .slds-text-body_small {
    font-size: .875rem;
    color: #16325C;
}

.THIS .slds-form-element__label,
.THIS .slds-text-title_caps,
.THIS .slds-card__header-title,
.THIS label {
    color: #54698D;
    font-size: .75rem;
}


.THIS .focusSelected {
    border: .125rem solid;
    border-radius: 0.275rem;
    border-color: #006dd5;
}

.THIS .slds-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
}

.THIS .relative-full {
    position: relative;
    min-height: 100%;
}

.THIS .itemProduct {
    border-top: 1px solid rgb(221, 219, 218);
}
.THIS .slds-backdrop{
    min-height: 100vh;
}
.THIS .slds-form-element {
    padding: 0;
}

@media (min-width: 900px) {
    .THIS {
        background-color: white;
        /* overflow: scroll; */
        height: unset;
    }
}