.avatarDescription img{
    margin-bottom: 0;

}

.avatarDescription span{
    background-color : transparent !important;
}

.avatarDescription p {
 
}

.avatarDescription b {
    background: transparent !important;
    color: #007abc !important;
    font-size: 2rem;
    line-height: 35px;
    font-family: "helvethaicaX-bold", sans-serif;
}
p.ql-indent-1{
    margin-left: 91px;

}