.THIS {
    background-color: white;
    /* overflow: scroll; */
}

.THIS .section {
    background: #F4F6F9;
}

.THIS .slds-form-element__label,
.THIS .slds-text-title_caps,
.THIS .slds-card__header-title ,
.THIS label{
    color: #54698D;
    font-size: .75rem;
}



.THIS .slds-icon-text-default{
    fill : #16325C;
}

.THIS .slds-form-element__help.startTime {
    white-space: nowrap;
}
.THIS .slds-input[readonly]{
    font-size: initial;
    padding-left: .75rem;
}