.THIS .slds-card__body {
  padding: 10px;
  margin: 0px;
}

.THIS .slds-card__header {
  padding: 0;
  margin: 0;
}
.THIS td {
  text-align: center;
}

.THIS .slds-size_1-of-2 {
  float: right;
  text-align: left;
  width: 50%;
  padding-left: 7.5%;
  padding-right: 7.5%;
}
.THIS .slds-table thead th {
  text-align: center;
}

.THIS table tr td:first-child {
  position: sticky;
  z-index: 1;
}
.THIS .slds-spinner {
  position: fixed;
}