.THIS .custom-border-top{
    border-top: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(229, 229, 229));
}

.THIS .custom-border-bottom{
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(229, 229, 229));
}

.THIS .custom-btn{
    float: right;
    height: 25px;
}

.THIS .custom-table-header{
    background-color: #f3f3f3;
    color: #444;
    padding: 0.25rem 0.5rem;
    font-weight: 700;
    line-height: normal;
}

.THIS .table-head:hover{
   cursor: pointer;
   color: rgb(0, 0, 0);
}

.THIS .unsort {
    opacity: 0.5;
}

.THIS .slds-table th, .THIS .slds-table td {
    padding: var(--lwc-tableCellSpacing,0.25rem 0.5rem) !important;
}