@media (max-width: 48em) {
    lightning-textarea.THIS label {
        display: none !important;
    }
}

@media (min-width: 64em) {
    lightning-textarea.THIS textarea {
        width: 28rem;
        height: 5rem;
    }
}