.THIS.container {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.THIS lightning-spinner {
    z-index: 10 !important;
}

.THIS h2 {
    margin: 0.25rem 0 !important;
}

.THIS .spinnerInline {
    display: inline-block;
    margin: 15px;
    vertical-align: middle;
    white-space: nowrap;
}

.THIS .slds-card__header .slds-card__header-title .slds-text-heading_small {
    padding: .25rem .25rem 0 0;
}

.THIS lightning-datatable table,
.THIS .slds-card__body .slds-form .slds-grid {
    background-image: var(--backgroundImage);
}

.THIS table thead lightning-primitive-header-actions {
    display: none;
}


.THIS lightning-formatted-text {
    white-space: normal;
}

.THIS lightning-datatable lightning-primitive-header-factory .slds-truncate {
    font-size: 12px;
}

.THIS a.erorrProduct,
.THIS p.erorrProduct,
.THIS .erorrProduct lightning-formatted-text[c-pilloutput_pilloutput] {
    color: red !important;
}


@media (min-width: 64rem) {
    .THIS lightning-datatable lightning-button button {
        line-height: 0;
        white-space: unset;
    }
}

@media (max-width: 50rem) {
    .THIS article.slds-card .slds-card__header .slds-text-heading_small {
        font-size: 1rem;
    }

    .THIS lightning-datatable lightning-formatted-text,
    .THIS lightning-datatable lightning-formatted-number,
    .THIS lightning-datatable lightning-button button {
        font-size: smaller;
    }

    .THIS lightning-datatable lightning-button button {
        line-height: 1 !important;
        text-align: left !important;
    }
}