.THIS.container {
    position: relative;
    height: 100%;
    overflow: scroll;
}

.THIS lightning-spinner {
    z-index: 10 !important;
}

.THIS h2 {
    margin: 0.25rem 0 !important;
}

.THIS .slds-card__header .slds-card__header-title .slds-text-heading_small {
    padding: .25rem .25rem 0 0;
}

.THIS .spinnerInline {
    display: inline-block;
    margin: 15px;
    vertical-align: middle;
    white-space: nowrap;
}

.THIS table thead lightning-primitive-header-actions {
    display: none;
}

.THIS lightning-formatted-text {
    white-space: normal;
}

.THIS .slds-has-button-menu .slds-th__action {
    padding-right: 0;
}

.THIS lightning-datatable lightning-primitive-header-factory .slds-truncate {
    font-size: 12px;
}

.THIS lightning-datatable .notFound,
.THIS lightning-datatable .notFound lightning-formatted-url a,
.THIS lightning-datatable .notFound lightning-button button,
.THIS a.notFound {
    color: red !important;
}
.THIS .test-one {
    color: red !important;
}

.THIS .redText {
    color: red !important;
}
.THIS lightning-datatable .ERRORLedger,
.THIS lightning-datatable .ERRORLedger lightning-formatted-url a,
.THIS lightning-datatable .ERRORLedger lightning-button button,
.THIS a.ERRORLedger {
    color: red !important;
    background-color: yellow !important;

}
.THIS lightning-datatable  .ERRORLedger {
    color: red !important;
    background-color: yellow !important;
}
.THIS .notFoundLedger{
    color: red !important;
    background-color: yellow !important;
}

@media only screen and (min-width: 64rem) {
    .THIS lightning-datatable lightning-button button {
        line-height: 0;
        white-space: unset;
    }
}

@media (max-width: 50rem) {
    .THIS article.slds-card .slds-card__header .slds-text-heading_small {
        font-size: 1rem;
    }

    .THIS lightning-datatable lightning-formatted-text,
    .THIS lightning-datatable lightning-formatted-number,
    .THIS lightning-datatable lightning-button button {
        font-size: smaller;
    }

    .THIS lightning-datatable lightning-button button {
        line-height: 1 !important;
        text-align: left !important;
    }
}

.THIS .eighty-percent {
    zoom: 87%;
}

.THIS.containerGraph {
    position: relative;
    width: 85%;
    background-color: white;
}

.THIS .bg-table table {
    background-image: var(--backgroundImage);
    width: 100%
}