.THIS {
    background: white;
    /* overflow: scroll; */
    padding-bottom: 4rem;
}

.THIS .section {
    background: #F4F6F9;
}

.THIS .slds-form-element__label,
.THIS .slds-text-title_caps,
.THIS .slds-card__header-title ,
.THIS label{
    color: #54698D;
    font-size: .75rem;
}

.THIS .customRequiredField label.slds-form-element__label::before{
    content : '* ';
    color: rgb(194, 57, 52);
}

.THIS .slds-icon-text-default{
    fill : #16325C;
}


.THIS .startTimeEndTime .slds-form-element.slds-col.slds-p-horizontal_small {
    padding: 0rem;
    margin-bottom: 0rem;
}

.THIS .slds-form-element__help.startTime {
    padding: 0 .25rem;
    margin-bottom: 0.5rem;
}
.THIS .section-white{
    background-color: white !important;
}

@media (min-width: 900px) {
    .THIS {
        background-color: #f4f6f9;
        /* overflow: scroll; */
        padding-bottom: 0px;
    }
}