.THIS {
}

.THIS .spinner-div{
    position: relative;
    width: 100%;
    padding: 1rem;
    text-align: center !important;
    background: white;
}

.THIS .spinnerHolder{
    position: relative;
    display: block;
    margin: 0 auto;
    /* width: 55px; */
    vertical-align: middle;
    /* white-space: nowrap; */
}

.THIS .slds-text-heading_small{
    font-weight: 500;
}

.THIS .slds-progress-ring__content{
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    border-radius: 3rem;
}

.THIS .slds-progress-ring_large {
    height: 4rem;
    width: 4rem;
}

.THIS .slds-progress-ring{
    border-radius: 3rem;
}

.THIS .slds-progress-ring__progress-head{
    display: none;
}

.THIS .slds-progress-ring_large .slds-icon {
    width: 2rem;
}

.THIS .spinnerHolder ul li {
    display: inline-block;
}

.THIS .slds-progress-ring_warning .slds-icon{
    fill  : rgb(216, 58, 0) !important;
}

.THIS .slds-progress-ring_warning .slds-progress-ring__path {
    fill: rgb(216, 58, 0) !important;
}

.THIS .font-bold{
    font-weight: 500;
}