// Import //
@import 'mixins/animation';


// Breakpoints //

$breakpoint-mini: 320px;
$breakpoint-iphoneX: 412px;
$breakpoint-xsm: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;


// Wide Screens //
@media (min-width: $breakpoint-lg) {
    html {
        font-size: 1rem !important;
        .col-md-3, .col-lg-3 {
            a, button {
                h2 {.duration a h2, .cat a h2, .income-mo a h2, .income-yr a h2, .info a h2, .mgmt a h2, .age a h2, .concentrate a h2
                    line-height: 1.5rem !important;
                }
            }
        }
        .col-md-6 {
            a {
                padding: 10px !important;
                h2 {
                    padding-top: 10px !important;
                    line-height: 2rem !important;
                }
            }
        }
        .passport {
            .persona {
                .col-6 {
                    .quote {
                        em {
                            width: 80px !important;
                            height: 80px !important;
                        }
                    }
                }
            }
        }
    }
}

// Medium Screen Size Desktops //

@media (min-width: $breakpoint-mini) and (max-width: $breakpoint-lg - 1px), (max-height: 990px) {
    .col-md-3, .col-lg-3 {
        a, button, div {
            padding: 10px !important;
            margin: 5px 0 !important;
            line-height: 1.5 !important;
            img {
                transform: scale(.5);
                float: left;
            }
        }
        .card {
            padding: 0 !important;
            .placeholder {
                padding: 0 !important;
                margin: 0 !important;
                img {
                    transform: scale(1);
                }
            }
        }
        
    }
}

@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1px) {
    .products {
        .card {
            .card-title {
                height: 50px !important;
            }
            .card-text {
                height: 31px !important;
            }
        }
    }
}

@media (min-width: $breakpoint-xsm) and (max-width: $breakpoint-lg - 1px) {
    body {
        &.details {
            .topbar {
                a {
                    &.float-right {
                        background: url('../../assets/ico-heart.png') no-repeat 155px center !important;
                        &:hover {
                            background: $brand-primary url('../../assets/ico-heart-inverted.png') no-repeat 155px center !important;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg - 1px) {
    .duration, .cat, .income-mo, .income-yr, .info, .mgmt, .age, .focus {
        a {
            padding: 0 10px !important;
            h2 {
                padding-top: 10px !important;
                font-size: 1.7rem !important;
            }
        }
        p {
            font-size: 1.7rem !important;
        }
    }
    .fab {
        top: 150px !important;
        .fab-action-button {
            i {
                padding: 9px !important;
            }
        }
    }
}

@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1px) {
    .questions {
        .job {
            a {
                width: 40% !important;
                height: 50px !important;
                margin: 2px 0 !important;
                img {
                    margin-top: -26px;
                }
                h2 {
                    padding-top: 0px !important;
                }
            }
        }
    }
    .animation {
        img {
            &.leftwheel {
                margin-left: 120px !important;
                top: -47px;
            }
            &.rightwheel {
                margin-left: 31px !important;
                top: -47px;
            }
        }
        
    }
    .passport {
        .persona {
            .flagship {
                .card {
                    .card-body {
                        dl + dl {
                            dt {
                                margin: 0 0 5px 0 !important;
                                border-right: none !important;
                                width: 32px !important;
                            }
                            dd {
                                margin: -40px 0 0 0 !important;
                                clear: both !important;
                            }
                            dd + dd {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
}


// Small Screen Size, Tablets //
@media (min-width: $breakpoint-mini) and (max-width: $breakpoint-sm - 1px) {

    .logo {
        transform: scale(.7);
    }
    
    .col-md-3, .col-lg-3 {
        a {
            width: 150px !important;
            text-align: left !important;
        }
    }
    .topbar {
        padding: 5px !important;
        a {
            margin: 20px 0;
        }
    }
    
    .modal {
        form {
            input, select {
                margin: 5px 0;
            }
        }
    }
    
    
    
    .fab {
        left: 5px !important;
        top: 550px !important;
        .fab-action-button {
            i {
                padding: 9px !important;
            }
        }
    }
    
    .passport {
        .fab {
            left: calc(50% - 28px) !important;
            .fab-action-button {
                i {
                    padding: 0 !important;
                }
            }
        }
        .persona {
            .col-6 {
                .quote {
                    em {
                        position: relative !important;
                        display: block !important;
                        margin: 0 auto;
                        width: 70px !important;
                        height: 70px !important
                    }
                    span {
                        padding: 20px 0 !important;
                    }
                }
            }
        }
    }
    
    .animation {
        img {
            &.leftwheel {
                margin-left: 120px !important;
                top: -47px;
            }
            &.rightwheel {
                margin-left: 31px !important;
                top: -47px;
            }
        }
        
    }
    .results {
        margin-top: 20px !important;
        .persona {
            .media {
                min-height: auto !important;
            }
        }
    }
    .questions {
        top: 0px !important;
        margin-top: 70px !important;
        .next {
            width: 120px !important;
            height: 120px !important;
            a {
                width: 100px !important;
                height: 100px !important;
                padding: 35px 0 !important;
                margin: 9px !important;
            }
        }
        .intro, .sex, .name, .age, .children, .job, .info, .duration, .cat, .income-mo, .income-yr, .focus, .mgmt, .products {
            h1 {
                font-size: 2rem !important;
            }
        }
        .persona {
            .media {
                min-height: auto !important;
            }
            p {
                padding: 0 10px !important;
            }
        }
        .name {
            .form-inline {
                padding: 0 35px !important;
            }
        }
        #male, #female {
            width: 85px !important;
            height: 85px !important;
            padding: 2px !important;
            img {
                transform: scale(.7);
            }
        }
        .age, .job, .income-mo, .income-yr, .info, .duration, .cat {
            .col-md-3, .col-md-6, .col-lg-3 {
                a {
                    width: 270px !important;
                    height: 50px !important;
                    margin: 2px 0 !important;
                    padding: 0 !important;
                    img {
                        margin-top: -17px;
                    }
                    h2 {
                        padding-top: 6px !important;
                        text-align: center;
                    }
                }
            }
        }
        .income-mo, .income-yr {
            h2 {
                text-align: center;
            }
        }
        .mgmt {
            padding: 0 !important;
            height: auto !important;
            width: 100% !important;
            a {
                width: 80% !important;
                margin: 2px 0 !important;
                padding: 0 10px !important;
                h2 {
                    padding: 10px !important;
                    font-size: 1.5rem !important;
                }
            }
        }
        .focus {
            .col-md-3 {
                div {
                    margin: 2px 0 !important;
                    padding: 0 !important;
                    width: 250px !important;
                    &::before {
                        margin-left: 10px;
                    }
                    p {
                        font-size: 1.5rem !important;
                    }
                }
            }
            .col-md-6 {
                button {
                    margin: 10px 0 !important;
                }
            }
        }
    }
}


@media (min-width: $breakpoint-mini) and (max-width: $breakpoint-md - 1px) {    
    .animation {
        img {
            transform: scale(.7);
            bottom: -25px !important;
        }
    }
    .parallax {
        .front, .horizon {
            img {
                transform: scale(.7);
                bottom: -60px !important;
            }
        }       
    }
    
}




// Small Screen Size, Tablets //    

@media (min-width: $breakpoint-iphoneX) and (max-width: 474px) {
    
}

@media (min-width: 475px) and (max-width: 520px) {
    
}

@media (min-width: $breakpoint-iphoneX) and (max-width: $breakpoint-xsm - 1px) {
    body {
        &.details {
            .topbar {
                a {
                    &.float-right {
                        height: 40px;
                        border: none !important;
                        background: #fff url('../../assets/ico-heart.png') no-repeat center center !important;
                        &:hover {
                            background: #fff url('../../assets/ico-heart.png') no-repeat center center !important;
                        }
                        h2 {
                            display: none;
                        }
                    }
                }
                a {
                    &.float-left {
                        background: #fff url('../../assets/ico-back.png') no-repeat center center !important;
                        &:hover {
                            background: #fff url('../../assets/ico-back.png') no-repeat center center !important;
                        }
                    }
                }
            }
        }
    }
    .topbar {
        a {
            height: 40px;
            border: none !important;
            background: #fff url('../../assets/ico-cancel.png') no-repeat center center !important;
            &:hover {
                background: #fff url('../../assets/ico-cancel.png') no-repeat center center !important;
            }
            h2 {
                display: none;
            }
        }
        a {
            &.float-left {
                background: #fff url('../../assets/ico-back.png') no-repeat center center !important;
                &:hover {
                    background: #fff url('../../assets/ico-back.png') no-repeat center center !important;
                }
            }
        }
    }
}



@media (min-width: $breakpoint-mini) and (max-width: $breakpoint-iphoneX - 1px) {
    body {
        &.details {
            .topbar {
                a {
                    &.float-right {
                        height: 40px;
                        border: none !important;
                        background: #fff url('../../assets/ico-heart.png') no-repeat center center !important;
                        &:hover {
                            background: #fff url('../../assets/ico-heart.png') no-repeat center center !important;
                        }
                        h2 {
                            display: none;
                        }
                    }
                }
                a {
                    &.float-left {
                        background: #fff url('../../assets/ico-back.png') no-repeat center center !important;
                        &:hover {
                            background: #fff url('../../assets/ico-back.png') no-repeat center center !important;
                        }
                    }
                }
            }
        }
    }
    .topbar {
        a {
            height: 40px;
            border: none !important;
            background: #fff url('../../assets/ico-cancel.png') no-repeat center center !important;
            &:hover {
                background: #fff url('../../assets/ico-cancel.png') no-repeat center center !important;
            }
            h2 {
                display: none;
            }
        }
        a {
            &.float-left {
                background: #fff url('../../assets/ico-back.png') no-repeat center center !important;
                &:hover {
                    background: #fff url('../../assets/ico-back.png') no-repeat center center !important;
                }
            }
        }
    }
    
    .questions {
        .products {
            h1 {
                font-size: 1.6rem !important;
            }
            h1 + h1 {
                margin: 10px 0 !important;
                font-size: 2.5rem !important;
                
            }
            button {
                &.cta {
                    white-space: normal;
                    font-size: 1.5rem !important;
                }
            }
        }
    }
    
    .passport {
        .persona {
            .col {
                .media {
                    h2 {
                        font-size: 1.7rem !important;
                    }
                }
            }
            .row + .row + .row {
                ul {
                    li {
                        padding: 0 5px !important;
                    }
                }
            }
            .flagship {
                .card {
                    .card-body {
                        dl + dl {
                            dt {
                                margin: 0 0 5px 0 !important;
                                border-right: none !important;
                                width: 32px !important;
                            }
                            dd {
                                margin: -40px 0 0 0 !important;
                                clear: both !important;
                            }
                            dd + dd {
                                margin-top: -15px !important;
                                line-height: 1.2rem !important;
                            }
                        }
                    }
                }
            }
        }
    }
}



@media (min-width: $breakpoint-mini) and (max-width: $breakpoint-xsm - 1px) {
    
    
    
}

@media (min-width: $breakpoint-iphoneX) and (max-width: $breakpoint-sm - 1px) {
    
}


// No Content //

@media (min-width: 251px ) and (max-width: $breakpoint-mini - 1px ) {
    html {
        body {
            background: white !important;
            overflow: auto !important;
            height: auto !important;
            .topbar {
                position: relative !important;
                display: none !important;
            }
        }
        .top-nav, .sub-nav {
            display: none;
        }
        .main-nav {
            img {
                float: none !important;
                margin: 0 auto;
            }
            nav {
                display: none;
            }
        }
        section {
            &.questions, &.parallax, &.main-content, &.prod-details, &.results, &.passport {
                display: none !important;
            }
            &.too-small {
                display: block;
                margin-top: 100px;
                .col {
                    padding: 0;
                    height: 20px;
                    margin-top: 180px;
                    &:first-child {
                        border-left: 11px solid black;
                    }
                    hr {
                        border-top: 11px solid black;
                        margin-top: 15px;
                    }
                }
                .col-8 {
                    padding: 0;
                    + .col {
                        border-right: 11px solid black;
                    }
                    .box {
                        width: 100%;
                        height: auto;
                        display: block;
                        border: 11px solid black;
                        border-radius: 10px;
                        text-align: center;
                        padding: 50px 10px;
                        background: $brand-primary;
                        font-family: $font-bold;
                        color: white;
                    }
                    .dizzy {
                        display: none;
                    }
                }
            }
        }
    }

}

// No Content //

@media (min-width: 1px) and (max-width: 250px) {
    body {
        background: white !important;
        overflow: auto !important;
        height: auto !important;
        .topbar {
            position: relative !important;
            display: none !important;
        }
    }
    .top-nav, .sub-nav {
        display: none;
    }
    .main-nav {
        img {
            float: none !important;
            margin: 0 auto;
        }
        nav {
            display: none;
        }
    }
    section {
        &.questions, &.parallax, &.main-content, &.prod-details, &.results, &.passport {
            display: none !important;
        }
        &.too-small {
            display: block !important;
            margin-top: 100px;
            .col {
                padding: 0;
                height: 20px;
                margin-top: 180px;
                &:first-child {
                    border-left: 11px solid black;
                }
                hr {
                    border-top: 11px solid black;
                    margin-top: 15px;
                }
            }
            .col-8 {
                padding: 0;
                + .col {
                    border-right: 11px solid black;
                }
                .box {
                    width: 100%;
                    height: auto;
                    display: block;
                    border: 11px solid black;
                    border-radius: 10px;
                    text-align: center;
                    padding: 50px 10px;
                    background: $brand-primary;
                    font-family: $font-bold;
                    color: white;
                }
                .dizzy {
                    display: block;
                }
                .frown {
                    display: none;
                }
            }
        }
    }
}



