// Variables //


// Global //

$color-bg: #eee;
$color-bg-light: #f7f7f7;

// Brand //

$brand-primary: #007abc;
$brand-accent: #03527c;

// fonts //

$font-size-lead: 3.5em;
$font-size-h1: 2em;
$font-size-sub: 1.5rem;
$font-size-body: 18px;

$font-color: #333;
$font-white: #fff;
$nav-color: #777;
$size-article-title: 1.7rem;
$size-body: 1.2rem;


$font-thin: 'helvethaicaX-thin', sans-serif;
$font-light: 'helvethaicaX-light', sans-serif;
$font-regular: 'helvethaicaX-regular', sans-serif;
$font-bold: 'helvethaicaX-bold', sans-serif;
$font-black: 'helvethaicaX-black', sans-serif;

@font-face {
    font-family: 'helvethaicaX-thin';
    src: url('../../public/fonts/DBHelvethaicaX-35Thin.eot');
    src: url('../../public/fonts/DBHelvethaicaX-35Thin.eot?#iefix') format('embedded-opentype'),
         url('../../public/fonts/DBHelvethaicaX-35Thin.woff') format('woff'),
         url('../../public/fonts/DBHelvethaicaX-35Thin.ttf') format('truetype'),
         url('../../public/fonts/DBHelvethaicaX-35Thin.svg#fontname') format('svg');
}

@font-face {
    font-family: 'helvethaicaX-light';
    src: url('../../public/fonts/DBHelvethaicaX-45Li.eot');
    src: url('../../public/fonts/DBHelvethaicaX-45Li.eot?#iefix') format('embedded-opentype'),
         url('../../public/fonts/DBHelvethaicaX-45Li.woff') format('woff'),
         url('../../public/fonts/DBHelvethaicaX-45Li.ttf') format('truetype'),
         url('../../public/fonts/DBHelvethaicaX-45Li.svg#fontname') format('svg');
}

@font-face {
    font-family: 'helvethaicaX-regular';
    src: url('../../public/fonts/DBHelvethaicaX-55Regular.eot');
    src: url('../../public/fonts/DBHelvethaicaX-55Regular.eot?#iefix') format('embedded-opentype'),
         url('../../public/fonts/DBHelvethaicaX-55Regular.woff') format('woff'),
         url('../../public/fonts/DBHelvethaicaX-55Regular.ttf') format('truetype'),
         url('../../public/fonts/DBHelvethaicaX-55Regular.svg#fontname') format('svg');
}

@font-face {
    font-family: 'helvethaicaX-bold';
    src: url('../../public/fonts/DBHelvethaicaX-75Bd.eot');
    src: url('../../public/fonts/DBHelvethaicaX-75Bd.eot?#iefix') format('embedded-opentype'),
         url('../../public/fonts/DBHelvethaicaX-75Bd.woff') format('woff'),
         url('../../public/fonts/DBHelvethaicaX-75Bd.ttf') format('truetype'),
         url('../../public/fonts/DBHelvethaicaX-75Bd.svg#fontname') format('svg');
}

@font-face {
    font-family: 'helvethaicaX-black';
    src: url('../../public/fonts/DBHelvethaicaX-85Blk.eot');
    src: url('../../public/fonts/DBHelvethaicaX-85Blk.eot?#iefix') format('embedded-opentype'),
         url('../../public/fonts/DBHelvethaicaX-85Blk.woff') format('woff'),
         url('../../public/fonts/DBHelvethaicaX-85Blk.ttf') format('truetype'),
         url('../../public/fonts/DBHelvethaicaX-85Blk.svg#fontname') format('svg');
}

// Buttons //

$color-border-btn: #026ea8;