// Icon Positioning //

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	body {
	    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#e1f4fd', endColorstr='#ffffff');
		main {
			.modal-dialog {
				.modal-body {
					input {
						padding: 0 !important;
					}
				}
			}
			.questions {
				.products {
					.card {
						display: block;
						.card-body {
							padding: 0 15px !important;
						}
					}
				}
				.name {
					form {
						input {
							padding: 0 !important;
						}
					}
				}
			}
		}
	}
}