.THIS {
}

.THIS .slds-border_bottom{
    border-bottom: 2px solid rgb(221, 219, 218);
}

.THIS .blink-plus{
    animation-name:blinkerGreen;
    animation-duration: 1.5s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}

.THIS .blink-subb{
    animation-name:blinkerRed;
    animation-duration: 1.5s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}

.THIS .Text-red{
    color: red;
}

.THIS .connected svg{
    fill: green !important;
}

/*.THIS .hilight .dashboard-info{
    font-weight: bold;
    border-left: solid 5px #cecece;
}

.THIS .dashboard-infoR{
    font-weight: bold;
    border-right: solid 5px #cecece;
}
*/
@keyframes blinkerGreen
{
	0%{background-color:#a2f3a2;}
	50%{background-color:rgb(211, 250, 206);}
	100%{background-color:#a2f3a2;}
}

@keyframes blinkerRed
{
	0%{background-color:#f3a2a2;}
	50%{background-color:rgb(250, 206, 206);}
	100%{background-color:#f3a2a2;}
}