.tableFixHead {
    overflow: auto;
    height:  430px; 

}

.tableFixHead table {
    border-collapse: collapse;
    width: 100%;
}

.tableFixHead th {
    position: sticky;
    top: 0;
    z-index: 4; 
    background-color: rgba(13,110,221);
    color: rgba(255,255,255);
    border: 1px solid black;
 }
 
.tableFixHead td {
    /*overflow-y: scroll;   */
    word-wrap:break-word !important; 
 }
 

.td-min-max-width {
    min-width:100px;
    max-width:400px;
  }

.topColor {
    background-color: rgba(255,165,0); 
  }

.freeze-column {
    position: sticky;
    z-index: 2;
    left: 0px;
    
}

.popupColorError{
    background-color: rgba(255, 0, 0, 0.808); 
}

.popupColorSuccess{
    background-color: rgba(6, 112, 15, 0.815); 
    color: rgba(255,255,255);
}

.show-wrap{
    white-space: pre-wrap;
}