/*------------------- */
.cellHeaderColor1 {
    background-color: rgba(255,165,0); /*  #0050F0; */
  }

.cellHeaderColor3 {
    background-color: rgba(13,110,221); /* #002d63; */
    color: rgba(255,255,255);
}

.tableColorGray {
  background-color: rgba(166,166,166)
}

.table-td { 
    width:100px !important; 
    word-wrap:break-word !important;
    background: white;
}

.fontBold {
    font-weight: 900; 
    
}


.table-td { 
    width:100px !important; 
    word-wrap:break-word !important;
    background: white;
}

.fontBold {
    font-weight: 900; 
    
}

/* This is what we are focused on */
.table-wrapper{
    overflow-y: scroll;
    height: 400px;
  }
  
  .table-wrapper th{
      position: sticky;
      top: 0;
  }
  
  /* A bit more styling to make it look better */
  .table-wrapper{
    background: #ffffff;
  }
  
  table{
    border-collapse: collapse;
    width: 100%;
  }
  
  th{
      background: #DDD;
  }
  
  td,th{
    padding: 3px;
    text-align: left;    
    /* 
    min-width:80px;
    white-space: nowrap; 
    word-wrap: break-word !important; 
      */

  }

  .td-nowrap {
    min-width:80px;
    white-space: nowrap;
  }
  .td-min-max-width {
    min-width:150px;
    max-width:400px;
  }