.THIS .scrollable-tb{
    overflow-y: auto;
}
.THIS .inputStyle{
    justify-content: space-evenly;
    display: flex;
    padding-right: 15%;
    align-items: center;
}
.THIS .outputStyle{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-left: 4%;
}
.THIS .outputNumberStyle{
    margin-top: -10px;
    margin-bottom: 10px; 
    margin-left: -80px;
    width: 100%;
}
.THIS .outputCheckboxStyle{
    margin-top: -10px;
    margin-bottom: 10px; 
    margin-left: -60px;
    width: 50px;
}
.THIS .slds-checkbox_faux{
    width: 25px;
    height: 25px;
}
.THIS .slds-checkbox{
    /* padding: 0px 15% 0px 0px ; */
    /* width: 62.5%; */
}
.THIS .checkbox_center{
    /* border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 100%;
    display: flex; */
    justify-content: center;
    box-sizing: border-box;
}
.THIS .labelStyle{
    margin-left: 1px;
    width: 80%;
}
.THIS .checkbox{
    width:100px;
    height:100px;
}
.THIS .lightning_select{
    width:120px;
}

.THIS .save_button{
    background:blue;
    color:white;
    align-content: center;
} 
.THIS .active_button{
    background:green;
    color:white;
    align-content: center;
}
.THIS .inactive_button{
    background:red;
    color:white;
    align-content: center;
}
.THIS .textCenter{
    text-align: center;
}