.THIS .redColor.slds-form-element_readonly.slds-form-element div.slds-form-element__control .slds-form-element__static {
    color: red;
}

.THIS .greenColor.slds-form-element_readonly.slds-form-element div.slds-form-element__control .slds-form-element__static {
    color: #04844b;
}

.THIS .tbodyHeight table tbody tr div {
    height: 20px;
}

.THIS .tbodyHeight table tbody tr lightning-primitive-cell-wrapper {
    justify-content: center;
}

.THIS .slds-form-element.slds-form-element_readonly .helptext {
    display: inline-block;
    padding-left: var(--lwc-spacingXxSmall, 0.25rem);
}

.THIS .slds-form-element.slds-form-element_readonly .helptext .slds-form-element__icon {
    padding-top: 0;
}

.THIS .slds-form-element>.slds-form-element__label {
    display: inline-flex;
}

@media (min-width: 48em) {
    .THIS .slds-form-element>.slds-form-element__label {
        max-width: 100%;
    }

    .THIS .slds-form-element.slds-form-element_readonly .slds-form-element__control {
        padding-left: 0;
    }
}

@media (min-width: 64em) {
    .THIS .slds-form-element>.slds-form-element__label {
        min-width: calc(33% - var(--lwc-squareIconUtilityMedium, 1.25rem))
    }

    .THIS .slds-form-element.slds-form-element_readonly {
        display: flex;
    }

    .THIS .Layout1 .slds-form-element>.slds-form-element__label {
        max-width: calc(44% - var(--lwc-squareIconUtilityMedium, 1.25rem));
        flex-basis: calc(44% - var(--lwc-squareIconUtilityMedium, 1.25rem));
    }

    .THIS .slds-form-element.RTL_Fund_Risk_Mismatch__c .slds-form-element__label,
    .THIS .slds-form-element.RTL_Fund_High_Concentration_Risk__c .slds-form-element__label {
        max-width: calc(60% - var(--lwc-squareIconUtilityMedium, 1.25rem));
        flex-basis: calc(60% - var(--lwc-squareIconUtilityMedium, 1.25rem));
    }

    /* .THIS .slds-form-element.RTL_Fund_Risk_Mismatch__c .slds-form-element__control,
    .THIS .slds-form-element.RTL_Fund_High_Concentration_Risk__c .slds-form-element__control {
        padding-left: 51%;
    } */

    /* .THIS .slds-form-element.RTL_OTC_ATM_ADM_IB_MIB__c .slds-form-element__label {
        max-width: calc(30% - var(--lwc-squareIconUtilityMedium, 1.25rem));
    }

    .THIS .slds-form-element.RTL_OTC_ATM_ADM_IB_MIB__c .slds-form-element__control {
        padding-left: 28%;
    } */
}