.THIS {
    position: relative;
    height: 100%;
    overflow: scroll;
}

.THIS .customPosition {
    position: relative;
    top: -13.5px;
    padding-left: 8px;
    right: 4px;
    
}

.THIS .slds-accordion__summary-heading {
    background-color: var(--lwc-colorBackground, rgb(243, 242, 242));
    display: flex;
    align-items: center;
    font-size: var(--lwc-varFontSize5, 1rem);
    line-height: var(--lwc-lineHeightButton, 1.875rem);
    border: var(--lwc-borderWidthThin, 1px) solid transparent;
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
}

@media (min-width: 1281px) {
  
    .THIS .customPosition {
        position: relative;
        display: inline;
        top: -13.5px;
       	
       
    }
  	.THIS .slds-select_container {
        position: relative;
        width: 66.5%;
        left: 33.7%;
    }
    .THIS .acc {
        right: 16.9%;
        width: 50%;
        float: right;
        position: relative;                          
    }
}
                        
@media (min-width: 48em) {

    .THIS .Personalized_Information div.slds-dueling-list__column_responsive[lightning-duallistbox_duallistbox] {
        flex: 1 1;
    }

    .THIS .Personalized_Information div.slds-form-element__control[lightning-duallistbox_duallistbox] {
        padding-left: 16.1%;
    }

    .THIS .Personalized_Information div.slds-form-element__control[lightning-input_input] {
        padding-left: 16.1%;
    }

    .THIS .Personalized_Information div.slds-form-element__control[lightning-textarea_textarea] {
        padding-left: 16.1%;
    }

    .THIS .slds-size_1-of-2{
        padding: 10px;
    }
}