.THIS {
    background-color: white;
    overflow: scroll;
    height: 100%;
}

.THIS .scrollerSize {
    height: -webkit-fill-available;
    position: relative;
}

.THIS .slds-page-header_object-home {
    background-color: #F7F9FB;
    /* border-bottom: 0; */
    border-radius: 0;
    /* background: rgb(243, 242, 242); */
    box-shadow: none;
    border: none;
}

.THIS .btn-next {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 1.5rem;
}

.THIS .slds-is-incomplete span {
    color: #16325C;
}

.THIS .slds-is-complete,
.THIS .slds-is-complete::before,
.THIS .slds-is-current::before {
    background-color: #04844B;
}

.THIS input[type="date"] {
    display: flex;
}

@media (min-height: 700px) and (max-height: 1000px) {
    .THIS .btn-next {
        position: unset;
        /* bottom: 0;
        right: 0; */
        padding-bottom: 1.5rem;
    }
}
@media (min-width:700px) and (max-width:720px) and (max-height: 1139px) {
    .THIS .btn-next{
        position: unset ;
        /* bottom: 0;
        right: 0; */
        padding-bottom: 1.5rem;
    }
}


.THIS .slds-form-element__label {
    color: #54698D;
}

.THIS form.slds-form {
    height: 100%;
    position: relative;
}

.THIS input,
.THIS select,
.THIS textarea,
.THIS .slds-form-element__static,
.THIS .slds-text-heading_medium {
    color: #16325C;
}

.THIS hr {
    border-top-color: #E0E5EE;
    margin: 1.5rem 0;
}

.THIS input,
.THIS select,
.THIS textarea {
    border-color: #E0E5EE;
}