.THIS .f_title {
    display: inline-block;
    /* min-width: 126px; */
    /* background: green; */
    padding-right: 5px;
    /* text-align: right; */
    /* font-weight: 600; */
}

.THIS .grade_block {
    width: 35%;
}

.THIS .grade_block_first {
    width: 30%;
}

.THIS .sub-list {
    padding-left: 60px;
}

.THIS .section-row {
    display: flex;
    align-items: center;
    height: 23px;
}

.THIS .license-row {
    display: flex;
    margin-top: 4px;
}

.THIS .license-circle {
    display: flex;
    width: 23px;
    height: 23px;
    background: #ffbe87;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5px;
}

.THIS .license-circle .license {
    font-weight: 800;
    font-size: 11px;
    cursor: default;
}

.THIS .no-license .license {
    color: #8b8b8b;
}

.THIS .check-icon {
    position: absolute;
    margin-top: 14px;
    margin-left: 8px;
}

.THIS .check-icon svg {
    width: 10px;
    fill: #4c4c4c;
}

.THIS .no-license {
    background: #ded0c3;
}

.THIS .has-license {
    background: #ffbe87;
}

.THIS .checked-icon {
    position: absolute;
    margin-top: 13px;
    font-size: 7px;
    margin-left: 6px;
    cursor: default;
}

.THIS .toggle {
    display: none;
}

.THIS .tooltipdiv{
    width:auto;
    height:auto;
    padding:10px;
    position:absolute;
    top:50px;
    /* left:75px; */
    box-shadow:3px 3px #888888;
    background-color:#f9f9f9;
}

.THIS .has-license:hover {
    background: #efb17a;
}

.THIS .no-license:hover {
    background: #ddc7b3;
}

.THIS .section-col {
    width: 100%;
}

.THIS .btn-section {
    min-width: 295px;
    justify-content: flex-end;
    display: flex;
    margin-bottom: 5px;
}

.THIS .summary-button svg {
    width: 100%; 
    height: 1.3rem;
}

.THIS .section-container {
    display: flex;
    flex-direction: column;
}

.THIS .sale-info-section {
    display: flex;
}