.THIS {
}
.THIS.slds-is-relative .slds-spinner_container {
    height:650px !important;
}
.THIS .slds-textarea {
    height:160px !important;
}

.THIS .slds-theme_alert-texture {
    margin-top: 2% !important;
}
.THIS .slds-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}