.THIS .leftPaddingClass {
    padding-left: 2.3rem;
}
 
.THIS .pillSize{
    width:100%;
    min-height: 30px;
}

.THIS .pillSize_Mobile {
    width: 100%;
    min-height: 35px;
}

.THIS .disable-style {
    border-color: rgb(189, 189, 189);
    background-color: rgb(236, 235, 234);
    pointer-events: none;
    cursor: no-drop;
}
/* .THIS .uiInput--input.input[disabled] {
    background-color: rgb(210, 207, 207);
} */

.THIS .no_icon .slds-pill__action {
    padding-left: 7px !important;
}

.THIS .leftPadding_min {
    padding-left: 7px;
}

.THIS .visitQNBackground, .THIS .visitQNBackground:focus {
    background-color: transparent;
    border-color: transparent;
}

.THIS .visitQNBackground .slds-pill__action {
    border-color: transparent;
}

.THIS .visitQNBackground .slds-pill__remove {
    color: white;
}

.THIS .visitQNUnderline, .THIS .visitQNUnderline:focus {
    color: white !important;
    border-bottom: 2px solid #8E7349;
    border-radius: 0px !important;
}

.THIS .visitQNUnderline::placeholder {
    color: #EEDDB8 !important;
}

.THIS .slds-pill__label{
    padding-left: 5px !important;
    width: 100% !important;
}

.THIS .slds-pill{
    justify-content : unset !important;
}