.THIS .section-row {
    display: flex;
    justify-content: center;
}

.THIS .sum-tb {
    width: 300px;
    height: 100px;
}

.THIS .sum-tb td {
    text-align: center;
    border: 1px solid gray;
}

.THIS .section-title {
    text-align: left;
    width: 100%;
    font-weight: bold;
    /* font-weight: 600; */
}

.THIS .row-space {
    margin-bottom: 38px;
}

.THIS .section-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.THIS .wrap-row {
    display: flex;
    flex-direction: column; 
    
}

.THIS .green-bg {
    background: lightgreen;
    
}
.THIS .sub-flag {
    padding-left: 30px !important;
}


.THIS .finance-block:hover {
    background: #77dc77;
}

.THIS .slds-button_icon-bare{
    display: none;
}

.THIS .last-row-bold table tr:last-child * {
    font-weight: bold;
}

.THIS .min-width-unit {
    min-width: 60px !important;
}

.THIS lightning-primitive-header-actions {
    display: none;
}
.THIS lightning-primitive-icon {
    display: none;
}

.THIS .product-tb button {
    height: 22px;
    /* color: black; */
    line-height: 0;
    cursor: default;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #080707;
}

.THIS .target-tb .slds-scrollable_y {
    max-height: 310px;
}

.THIS .target-tb .last-col {
    padding-right: 17px;
}

.THIS .subGroupLevel1 {
    padding-left: 30px !important;
}

.THIS .subGroupLevel2 {
    padding-left: calc(30px * 2) !important;
}

.THIS .subGroupLevel3 {
    padding-left: calc(30px * 3) !important;
}

.THIS .subGroupLevel4 {
    padding-left: calc(30px * 4) !important;
}

.THIS .subGroupLevel5 {
    padding-left: calc(30px * 5) !important;
}

.THIS .subGroupLevel6 {
    padding-left: calc(30px * 6) !important;
}