.THIS {
}

/*.THIS.m-box-bg{
    background-color: #4682B4 !important;
    font-size: 20px;
    color: white;
}

.THIS.m-box-second{
    background-color: #DCDCDC !important;
    font-size: 20px;
    color: black;
}

.THIS .table-head-bg{
    background-color: rgb(204, 220, 240);
    color: black;
}


.THIS .w-50{
    width:50%;
}

.THIS .slds-icon-text-default{
    fill: white;
}

.THIS.black svg{
    fill: black;
}

.THIS .align-center{
    text-align: center !important;
}


.THIS .pointer {cursor: pointer;}

.THIS td {
	border-right: 1px solid #DCDCDC;
}

.THIS .mb-head-font-size{
    font-size: 12px;
}

.THIS .wrapet-text{
    white-space: normal;
}*/