.THIS .validate {
    border-color: red !important;
}

.THIS .errorText {
    font-size: small;
    color: red;
    position: absolute;
    right: 3px;
    margin-top: -5px;
}

.THIS .hide {
    display: none;
}