.THIS .custom-background {
    background-color: #f1f5fb;
}

.THIS .slds-theme_info{
    background-color: rgb(89, 109, 145);
}

.THIS.scrollerSize {
    height: 100vh;
    width: 100%;
}

.THIS .slds-table thead th{
    background-color: #f1f5fb;
}

.THIS .iconClass svg{
    width: 5rem;
    height: 5rem;
}

.THIS .infoIcon svg{
    fill: rgb(255, 255, 255);
}


.THIS .slds-icon-text-default {
    fill: #54698D;
    width: 1rem;
    height: 1rem;
}

.THIS .slds-icon-action-approval {
    background-color: rgba(43, 129, 72, 1);
}

.THIS .slds-text-heading_medium,
.THIS .slds-text-body_regular,
.THIS .slds-grid {
    color: #54698D;
}

.THIS .CANumber{
    color: #16325C;
}