.THIS .container {
    /* padding: 20px; */
}

.THIS .padding-card {
    padding: 10px 15px;
}

.THIS .notify-container {
    display: flex;
}

.THIS .notify-txt {
    display: flex;
    flex-direction: column;
}

.THIS .warning-icon {
    margin-right: 5px;
}

.THIS .error-msg {
    font-size: 16px;
    font-weight: 700;
    color: #2f2f2f;
}

.THIS .error-title {
    font-weight: 600;
    color: #666666;
}