.center{
    text-align: center;
}
.greenFace{
    --sds-c-icon-color-foreground-default: #45c65a;
    /* --sds-c-icon-color-background: gray; */
}
.redFace{
    --sds-c-icon-color-foreground-default: #ba0517;
    /* --sds-c-icon-color-background:  #fe9339; */
}
.yellowFace{
    /* --sds-c-icon-color-foreground-default: green; */
    --sds-c-icon-color-foreground-default: #fcc003; 
}

.regulationIcon{
    --sds-c-icon-color-background: #eb7092;
}

.ttbTouch{
    --sds-c-icon-color-background: #0050ef;
}
/* 
.mainBankIcon{
    --sds-c-icon-color-background: #89c059;
} */