.THIS .inputStyle{
    margin-top: 10px;
    width: 80%;
}


.THIS .outputStyle{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.THIS .labelStyle{
    margin-top: 10px;
    margin-left: 10px;
    width: 80%;
}
/* .THIS .slds-form-element__label{
    margin-top: 10px;
    margin-left: 10px;
    width: 80%;
} */

.THIS .radioStyle{
    margin-top: 10px;
}

.THIS .slds-input[readonly]{
    background-color: rgb(242,242,242);
}

.THIS .section_header{
    margin-left: 10px;
}

.THIS .button-style{
    margin-right: 25px;
}

@media (min-width:1366px) and (max-width:1439px){
    .THIS .radio-callback{
        margin-left: 15px;
        position: relative;
        top: -8px;
    }
}

@media (min-width:1440px) and (max-width:1599px){
    .THIS .radio-callback{
        margin-left: 20px;
        position: relative;
        top: -8px;
    }
}

@media (min-width:1600px) and (max-width:1919px) {
    .THIS .radio-callback{
        margin-left: 40px;
        position: relative;
        top: -8px;
    }
}

@media (min-width:1920px) {
    .THIS .radio-callback{
        margin-left: 70px;
        position: relative;
        top: -8px;
    }
}

/* @media (max-width:1365px){
    .THIS .radio-callback{
        margin-left: 20px;
        position: relative;
        top: -8px;
    }
} */