.THIS .slds-form-element__label, 
.THIS .slds-text-title_caps,
.THIS .slds-card__header-title{
    color: #54698D;
}

.THIS .slds-text-align_left{
    color: #16325C;
}


.THIS .slds-card {
    background-color: #F4F6F9;
}

.THIS hr{
    margin: 0.5rem 1.5rem;
}

/* .THIS .slds-tile__title{
    color: #1589ee;
} */

/*.THIS {
    background: white;
}

.THIS .tabset lightning-tab-bar ul {
    padding: 0 1.5rem;
}





.THIS hr {
    border-top-color: #E0E5EE;
    margin: 1.5rem 0;
}

.THIS input,
.THIS select,
.THIS textarea {
    border-color: #E0E5EE;
}

.THIS .slds-theme_info {
    background-color: rgb(89, 109, 145);
}

.THIS.scrollerSize {
    height: 100vh;
    width: 100%;
}

.THIS .slds-table thead th {
    background-color: #f1f5fb;
}

.THIS .iconClass svg {
    width: 5rem;
    height: 5rem;
}

.THIS .infoIcon svg {
    fill: rgb(255, 255, 255);
}


.THIS .slds-icon-text-default {
    fill: rgb(88, 85, 85);
    width: 1rem;
    height: 1rem;
}

.THIS .slds-icon-action-approval {
    background-color: rgba(43, 129, 72, 1);
}*/