.THIS {
}

.THIS .slds-modal{
    z-index: 9025 !important;
}

.THIS .slds-backdrop{
    z-index: 9024 !important;
}

.THIS .slds-modal__content{
    /* min-height: 35vh !important; */
    overflow-x: auto !important;
}

.THIS .slds-modal__title .slds-button{
    font-size: 13px !important;
    font-weight: normal !important;
}

.THIS .text-right{
    text-align: right !important;
}

.THIS .text-center{
    text-align: center !important;
}

.THIS .slds-textarea{
    min-height: 75px !important;
}