.THIS .dataTable .slds-th__action {
    justify-content: center !important;
}

.THIS .dataTable tbody tr div {
    height: 18px;
}

.THIS .dataTable .slds-scrollable_x {
    overflow: hidden !important;
}

.THIS.fixHeight {
    height: 10em;
}

lightning-spinner.THIS {
    z-index: 10 !important;
}

.THIS .slds-form-element__label {
    font-size: 11px !important;
    color: #3E3E3C;
}

.THIS .slds-form-element__static {
    font-size: 11px !important;
    color: #3E3E3C;
}

.THIS .table-width-100 {
    width: 100%;
}

.THIS .custom_form{
    padding-left: 50%;
    padding-right: 10%;
    margin-top:2%;
   
}

.THIS .custom_form_new{
    padding-right: 10%;
    margin-top:2%;
   
}

.THIS .table_custom_title{
    font-size: 0.6em;
}

.THIS .slds-form-element_readonly{
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
    margin-bottom: 0;
    margin-right: 10%;
}

.THIS .fieldLabel{
    font-weight: bold;
}

.THIS .fieldUnderline{
    border-bottom-color: #e6e6e6;
    border-bottom-style: solid;
    border-bottom-width: thin;
}