.THIS {
    background-color: white;
    overflow: scroll;
    height: 100%;
}

.THIS .slds-notify_container {
    z-index: 0;
}

.THIS .section {
    background: #F7F9FB;
}

.THIS .icon-blue svg.slds-icon {
    background: #0070D2;
}

.THIS .slds-form-element .slds-form-element__label,
.THIS .slds-form-element .slds-form-element__control.slds-input-has-fixed-addon .slds-form-element__addon {
    color: #54698D;
    font-size: .75rem;
}

.THIS .slds-form-element .slds-form-element__label.halfLabelColumn,
.THIS .slds-form-element .slds-form-element__control.slds-input-has-fixed-addon .slds-form-element__addon.halfLabelColumn {
    max-width: 100%;
    font-size: 1.5rem;
    margin-top: 10px;
}

.THIS .fontResult {
    font-size: 1.5rem !important;
}

.THIS .slds-form-element .slds-form-element__control.slds-input-has-fixed-addon .halfTextColumn {
    font-size: 2.25rem;
    color: #54698D;
}

.THIS .slds-form-element .slds-button.btn-fullSize {
    /* height: 40px; */
    line-height: 2.375rem;
    min-height: calc(2.375rem + (1px * 2));
    width: 100%;
}

.THIS .slds-notify_container .fixed-minWidth {
    min-width: 0;
}

.THIS .slds-form-element .slds-button.btn-fullSize svg {
    margin: 0;
}

.THIS .slds-form-element .slds-form-element__help.textHelper {
    color: #95A3B9;
    /*color: #54698D;
    opacity: 0.5;*/
}

.THIS .slds-icon-text-default {
    fill: #95A3B9;
}

.THIS .margin-auto {
    margin: auto;
}

.THIS .wcButton {
    margin-top: .375rem;
}

.THIS .slds-input-has-fixed-addon {
    padding: 0;
    margin: 0;
    float: right;
    margin-top: -3px;
}

.THIS .textResult {
    color: #54698d;
}

.THIS ul.slds-breadcrumb {
    font-size: .875rem;
}

@media (max-width: 425px) {
    .THIS .slds-form-element .slds-form-element__label.button_label {
        display: none;
    }
}

@media (max-width: 800px) {
    .THIS .slds-form-element.heightSelect .slds-form-element__control .slds-select {
        line-height: calc(2.75rem - 0.125rem);
        height: calc(2.75rem);
    }
}

@media (max-width: 767px) {
    .THIS .slds-input-has-fixed-addon {
        padding-left: 0 !important;
        float: left;
    }

    .THIS .fontResult {
        font-size: 1rem !important;
        float: left;
        padding-top: 0;
    }

    .THIS .halfTextColumn {
        font-size: 1.4rem !important;
    }
}