.THIS .section_header{
    margin-left: 10px;
}

.THIS .btn_addremove_row{
    width: 30%;
}

@media (min-width: 1366px) and (max-width: 1439px){
    .THIS .productname-title{
        width:180px
    }
    .THIS .productname-body{
        width:145px;
        margin-top:5px;
    }
}

@media (min-width: 1440px) {
    .THIS .productname-title{
        width:200px
    }
    .THIS .productname-body{
        width:240px;
        margin-top:5px;
    }
}