.THIS {
    position: relative;
    height: 100%;
    overflow: scroll;
}
.THIS.slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
}
.THIS .label-hidden > label {
    display: none;
}

.THIS .slds-accordion__summary-heading {
    background-color: var(--lwc-colorBackground, rgb(243, 242, 242));
    display: flex;
    align-items: center;
    font-size: var(--lwc-varFontSize5, 1rem);
    line-height: var(--lwc-lineHeightButton, 1.875rem);
    border: var(--lwc-borderWidthThin, 1px) solid transparent;
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
}