.THIS .slds-form-element.slds-form-element_readonly .helptext {
    display: inline-block;
    padding-left: var(--lwc-spacingXxSmall, 0.25rem);
}

.THIS .slds-form-element.slds-form-element_readonly .helptext .slds-form-element__icon {
    padding-top: 0;
}

.THIS .slds-form-element>.slds-form-element__label {
    display: inline-flex;
}

@media (min-width: 48em) {
    .THIS .slds-form-element>.slds-form-element__label {
        max-width: 100%;
    }

    .THIS .slds-form-element.slds-form-element_readonly .slds-form-element__control.customField {
        padding-left: 0;
    }

}

@media (min-width: 64em) {
    .THIS .slds-form-element>.slds-form-element__label {
        min-width: calc(33% - var(--lwc-squareIconUtilityMedium, 1.25rem));
    }

    .THIS .slds-form-element.slds-form-element_readonly {
        display: flex;
    }
}

@media (max-width: 64em) {
    .THIS .hideMinWidth {
        display: none !important;
    }
}