.THIS .fieldset-style{
    padding: 0px;
}
/* ความกว้างของ content แสดง */
.THIS .edit-box-content{
    width: 100%;
}
/* กำหนดความสูงของกล่องตอนที่กำลังโหลดข้อมูล */
.THIS .slds-modal__content {
    /* min-height: 297px; */
    padding: 0px !important;
}
/* กำหนดกำหนดความสูงของกล่อง spinner ตอนที่กำลังโหลดข้อมูล */
.THIS .slds-spinner_container {
    height: 415px !important;
}
.THIS .slds-icon-text-default {
    --slds-c-icon-color-foreground: white !important;
} 
.THIS .slds-alert_error {
    padding: 12px;
    margin-bottom: 10px;
}
.THIS .slds-text-heading_small {
    font-size: 14px;
}

.THIS .content-form {
    min-height: 297px;
    padding: 1rem;
}