.THIS {
}

.THIS .slds-form .slds-form_stacked{
    display: inline-block;
    width: 10%;
    margin-bottom: .75rem;
}

.THIS .helptextIcon div{
    vertical-align: top !important;
}

.THIS.helptextIcon div{
    vertical-align: top !important;
}

.THIS .label-hidden > label{
    display: none;
    margin-top: -2rem;
}

.THIS .color .slds-input{
    border: 3px solid red;
}

.THIS .errorText{
    color: red;
    font-size: small;
}