.THIS.slds-is-relative .slds-spinner_container {
    height:650px !important;
}

.THIS .slds-theme_alert-texture {
    margin-top: 2% !important;
}

.THIS .slds-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}

.THIS .slds-theme_alert-texture {
    margin-top: 0%!important;
}

.THIS svg.slds-icon.slds-icon_x-small{
    fill: white;
}

.THIS .slds-card__header.slds-grid{
    display: none;
}