.THIS .custom-input {
    padding: 0 !important;
}
.THIS .custom-input-style {
    padding: 0 8%;
}

.THIS .custom-input-style input {
    padding: 0 1rem;
}

.THIS .slds-brand-band {
    max-width: 1080px;
}
.THIS .input-error input, .THIS .input-error .slds-pill {
    border: 2px solid var(--lwc-colorTextError,rgb(234, 0, 30));
}
.THIS .input-error .custom-error-msg {
    margin-top: -5px;
    color: var(--lwc-colorTextError,rgb(234, 0, 30));
    font-size: 12px;
    margin-bottom: 12px;
}

.THIS .inline-select {
    display: flex;
}

.THIS .custom-combo-box input {
    border: var(--lwc-borderWidthThin,1px) solid rgb(201, 201, 201);
    box-shadow: none;
}

.THIS .custom-combo-box abbr {
    display: none;
}

@media screen and (min-width: 768px) {
    .THIS .err-msg-margin .slds-form-element__help {
        margin-left: 4rem;
    }

    .THIS .err-msg-margin2 .slds-form-element__help {
        margin-left: 27%;
    }
}

@media screen and (max-width: 767px) {
    .THIS .err-msg-margin .slds-form-element__help, .THIS .err-msg-margin2 .slds-form-element__help {
        margin-left: 0px;
    }  
}

.THIS .slds-form-element__help {
    display: none;
}

.THIS .custom-label {
    color: var(--lwc-colorTextLabel,rgb(68, 68, 68));
    /* padding: 0 var(--lwc-spacingXxSmall,0.25rem); */
    padding: 5px 7px 0px 20px;
    font-size: var(--lwc-formLabelFontSize,0.75rem);
}

.THIS .custom-label-input {
    padding: 0 8% 0 0!important;
}

.THIS .custom-input-box {
    display: inherit;
}