table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
}
.table {
    width: 100%;
    max-width: 100%;
}
th,.table th {
    font-weight: bold;
    text-align: center;
    background-color: #aaa;
}
.table td,
.table th {
    background-color: #fff !important;
    vertical-align: text-top;
}
.table-bordered th,
.table-bordered td {
    border: 1px solid #222 !important;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
dl {
    margin-top: 0;
    margin-bottom: 20px;
}
dt,
dd {
    line-height: 1.42857143;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 0;
}
form {
    margin:0px;
    padding:0px;
}
img { border:0; }

/*Custom Style : Jantanee Saetung*/

@page { 
    size: A4;
    margin: 1cm 0.75cm 1.25cm 0.75cm;
    font-family: 'Arial Unicode MS'  ;
    font-size: 9.5pt;
    background-color: #fff;
    border: 1px solid;
    padding: 0;
    @bottom-center {
        font-family: 'Arial Unicode MS';
        font-size: 7pt;
        content: "Page " counter(page) " of " counter(pages);
    }
}
body{
    font-family: 'Arial Unicode MS';
    font-size: 9.5pt;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    margin:0px;
    display:inline;
    font-weight: bold;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clear-both{
    clear: both;
}

.boder-left-none{
    border-left: none;
}
.boder-right-none{
    border-right: none;
}
.boder-top-none{
    border-top: none;
}
.boder-bottom-none{
    border-bottom: none;
}

.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}
.text_bold{
    font-family: sans-serif;
    font-weight: bold;
}
.width-35{
    width: 35%;
}
.width-30,.analyse td{
    width: 30%;
}
.width-20,.rateNI td{
    width: 20%;
    text-align: center;
}
.width-25{
    width: 25%;
    text-align: center;
}
.width-10,.ratio td{
    width: 10%;
    text-align: center;
}
.bg-gray{
    background-color: #aaa;
}