#contentWrapper{
    min-width: initial;
}
@media (max-width: 700px){
    .slds .slds-size--1-of-2{
        width: 100%;
    }
    #responsive td{
        text-align: right;
    }
    #clearSection{
        clear: both;
    }
}
.slds-text-heading--label, .slds-text-heading--small{
    /*text-transform: capitalize !important;*/
}
.slds .slds-max-medium-table--stacked-horizontal th:before, .slds .slds-max-medium-table--stacked-horizontal td:before{
   /* text-transform: capitalize !important;*/
}
.slds-text-title--caps,.slds-section-title--divider,.bootstrap-sf1 thead th{
    background-color: #E6EAEA !important;
    text-transform: UPPERCASE !important;
    color: #393939 !important;
    font-weight: bold !important;
}
.slds .slds-table th{
    font-weight: bold !important;
}
.btn-danger{
    color: #ffffff  !important;
    background-color: #cf5c60 !important;
    border-color: #c9484d !important;
}
.btn-danger:hover {
    color: #fff  !important;
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
}
.btn-success {
    color: #fff  !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}
.btn-success:hover {
    color: #fff  !important;
    background-color: #449d44 !important;
    border-color: #398439 !important;
}
.requiredField{
    background-color: #fbe7e8 !important;
}
.tooltip-inner{
    background-color: #fff1de !important;
}

span .bootstrap-sf1 {
    background-color: transparent;
    padding: 0px;
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 21px;
}
.message{
    margin: 10px;
}
.message ol, .message ul{
    list-style-type: disc;
}
.message table{
    width: auto;
}
select{
    background-color: white;
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: 4px;
    width: 100%;
    transition: border 0.1s linear, background-color 0.1s linear;
    height: 34px;
}
.slds .slds-button--brand:hover, .slds .slds-button--brand:focus{
    color: #fff !important;
}
.slds .slds-spinner_container{
    position: fixed;
}
.slds img {
    max-width: none;
}
.bootstrap-sf1 .tooltip-inner, .tooltip-inner{
    max-width: none;
}
.requiredStar{
    color: red;
    font-weight: bold;
}
.slds .slds-spinner_container {
    z-index: 9 !important;
}
