.THIS {
    position: relative;
    height: 100%;
    overflow: scroll;
}

.THIS .customPosition {
    top: -17.5px;
}

.THIS .slds-accordion__summary-heading {
    background-color: var(--lwc-colorBackground, rgb(243, 242, 242));
    display: flex;
    align-items: center;
    font-size: var(--lwc-varFontSize5, 1rem);
    line-height: var(--lwc-lineHeightButton, 1.875rem);
    border: var(--lwc-borderWidthThin, 1px) solid transparent;
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
}

.THIS .sf1 {
    top:14px;
}
 

.THIS .slds-select_container {
    position: relative;
    width: 99%;
    left: 1%;
}
.THIS .acc {
    right: 16.9%;
    width: 50%;
    float: right;
    position: relative;                          
}

@media (min-width: 1100px) {
    .THIS .customPositionSF1 {
        display: inline;
        top: -25px;
       	left: 32%;
    }

}
    
/*48em = 768px*/
/* @media (min-width: 48em) { */
@media (max-width: 850px) {
    .THIS .Personalized_Information div.slds-dueling-list__column_responsive[lightning-duallistbox_duallistbox] {
        flex: 1 1;
    }

    .THIS .Personalized_Information div.slds-form-element__control[lightning-duallistbox_duallistbox] {
        padding-left: 16.1%;
    }

    .THIS .Personalized_Information div.slds-form-element__control[lightning-input_input] {
        padding-left: 16.1%;
    }

    .THIS .Personalized_Information div.slds-form-element__control[lightning-textarea_textarea] {
        padding-left: 16.1%;
    }

    .THIS .customPositionSF1 {
        display: inline;
        top: -25px;
       	left: 32%;
       
    }
    
}