.THIS .right-align {
    text-align: right !important;
}

.THIS .first-child {
    position: absolute;
    width: 5em;
    left: 0;
    top: auto;
    border-top-width: 1px;
    margin-top: -1px;
    background-color: white;
}

.THIS .slds-truncate{
}