.THIS {
}

.THIS .highlight-col{
    background: #05328d!important;
    color: #fff !important;
}

.THIS .color-primary{
    color: #002A66 !important;
}

.THIS .text-bold{
    font-weight: bold;
}

.THIS .spinner-div{
    position: relative;
    width: 100%;
    min-height: 640px;
    background: white;
}

.THIS .spinner-div.spinner-div-main{
    min-height: 75vh;
}

.THIS .text-left{
    text-align: left;
}

.THIS .text-right{
    text-align: right !important;
}

.THIS .text-center{
    text-align: center !important;
}

.THIS .label-new{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    /* margin-left: 0.25rem; */
    padding: 0.125rem 0.5rem;
    border-radius: 0.25rem;
    /* background-color: #f68b1f!important; */
    background-color: #0050f0 !important;
    color: #fff!important;
    box-shadow: var(--slds-c-pill-shadow);
    position: relative;
    font-size: .55rem!important;
    font-weight: 500;
}

.THIS .slds-table tbody tr.slds-is-selected>td,
.THIS .slds-table tbody tr.slds-is-selected>th,
.THIS .slds-table:not(.slds-no-row-hover) tr.slds-is-selected:hover>td,
.THIS .slds-table:not(.slds-no-row-hover) tr.slds-is-selected:hover>th{
    background: rgba(0 , 80 , 240 , 0.1) !important;
}

.THIS .slds-badge__icon .slds-icon{
    fill: #0050f0 !important;
}

.THIS .input-col{
    background: rgba(0 ,80, 240, 0.2)  !important;
}


.THIS .text-right .slds-input{
    text-align: right !important;
}

.THIS .slds-modal__container{
    justify-content: start !important;
    
}

@media (min-width: 48em){
    .THIS .slds-modal__content {
        min-height: 70vh ;
    }
}

.THIS .slds-checkbox [type=checkbox]:checked+.slds-checkbox__label .slds-checkbox_faux {
    background: #0050f0 !important;
    border: 1px solid #0050f0 !important;
}

.THIS .slds-checkbox [type=checkbox]:checked+.slds-checkbox__label .slds-checkbox_faux:after{
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}

.THIS .wrap-text{
    white-space: break-spaces;
    word-wrap: break-word;
}

.THIS .slds-table thead th .wrap-text{
    text-align: center !important;
    margin: 0 auto;
}

.THIS .slds-table thead th{
    vertical-align: text-top !important;
}


.THIS .percentField span div lightning-formatted-number:after{
    content: ' %';
}