.THIS lightning-datatable table {
    background-image: var(--backgroundImage);
}

.THIS.container {
    position: relative;
    height: 100%;
    overflow: scroll;
}

.THIS lightning-spinner {
    z-index: 10 !important;
}

.THIS h2 {
    margin: 0.25rem 0 !important;
}

.THIS .slds-card__header .slds-card__header-title .slds-text-heading_small {
    padding: .25rem .25rem 0 0;
}

.THIS .spinnerInline {
    display: inline-block;
    margin: 15px;
    vertical-align: middle;
    white-space: nowrap;
}

.THIS table thead lightning-primitive-header-actions {
    display: none;
}

.THIS lightning-formatted-text {
    white-space: normal;
}

.THIS lightning-datatable .slds-has-button-menu .slds-th__action {
    padding-right: 0;
    justify-content: center;
}

.THIS lightning-datatable lightning-primitive-header-factory .slds-truncate {
    font-size: 12px;
}

.THIS lightning-datatable .erorrProduct,
.THIS lightning-datatable .erorrProduct lightning-formatted-url a,
.THIS lightning-datatable .erorrProduct lightning-button button,
.THIS a.erorrProduct {
    color: red !important;
}

@media only screen and (min-width: 64rem) {
    .THIS lightning-datatable lightning-button button {
        line-height: 0 !important;
        white-space: unset !important;
    }

    .THIS lightning-datatable .slds-table_header-fixed_container.slds-scrollable_x {
        overflow-x: hidden !important;
    }
}

@media (max-width: 50rem) {
    .THIS article.slds-card .slds-card__header .slds-text-heading_small {
        font-size: 1rem;
    }

    .THIS lightning-datatable lightning-base-formatted-text,
    .THIS lightning-datatable lightning-formatted-number,
    .THIS lightning-datatable lightning-button button {
        font-size: smaller;
    }

    .THIS lightning-datatable lightning-button button {
        line-height: 1 !important;
        text-align: left !important;
    }
}