.THIS {
    background-color: white;
    overflow: scroll;
    height: 100%;
    color: #16325c !important;
}

.THIS .scrollerSize {
    height: -webkit-fill-available;
    position: relative;
}

.THIS .section {
    background: #F7F9FB;
}

.THIS .slds-card {
    height: 100%;
}

.THIS .slds-form-element__control .sl-search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 1px;
}

.THIS .slds-lookup__menu {
    color: #16325c !important;
    margin-top: 3px;
}

.THIS .slds-lookup__menu .slds-lookup__list {
    position: relative;
    /* overflow-y: auto;
    overflow: scroll; */
    -webkit-overflow-scrolling: touch;
}

.THIS .backgroudImage {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -125px;
    margin-top: -115px;
    max-width: 250px;
}

.THIS .backgroudResults {
    position: relative;
    z-index: 1;
}

.THIS .uiInput--input {
    padding-left: 1.5rem !important;
}

.THIS .slds-form-element__label {
    color: #54698d;
}

.THIS .slds-card__header {
    padding: 1rem 1rem 0;
    margin: 0;
}

.THIS .spinner-img {
    opacity: unset !important;
    border-radius: 0 !important;
}

.THIS .auraPlaceholder.spin,
.THIS .spinner {
    background: none !important;
}

.THIS .slds-text-heading_small {
    font-size: 0.9rem;
}

.THIS .halfLabelColumn {
    width: 55%;
}

.THIS ul.slds-breadcrumb {
    font-size: .875rem;
}

.THIS .textResult {
    color: #54698d;
}

@media (min-width: 48em) {
    .THIS .slds-form-element_horizontal .slds-form-element__label.halfLabelColumn {
        max-width: calc(70% - 1.25rem);
        white-space: nowrap;
    }

    .THIS .slds-form-element_horizontal .slds-form-element__control.halfTextColumn {
        padding-left: 50%;
    }

    .THIS .slds-form-element_horizontal .slds-form-element__control.halfTextColumnTop {
        padding-left: 20%;
    }
}