.THIS .center-text{
    text-align: center !important;
}

.THIS .first-color {
    background-color: rgba(255, 165, 0);
    color: rgba(38, 38, 27);
}

.THIS .second-color {
    background-color: rgba(13, 110, 221);
    color: #fff;
}

.THIS .second-color svg {
    fill:rgba(255, 255, 255);
}

.THIS .third-color {
    background-color: rgb(115, 115, 115);
    color:rgba(255, 255, 255);
}

.THIS .third-color .slds-form-element__label {
    color:rgba(255, 255, 255);
}

.THIS .third-color svg {
    fill:rgba(255, 255, 255);
}
.THIS .card-container {
    padding: 10px 50px;
}

.THIS .border-line-color {
    border-top: 1px solid white !important;
    border-bottom: 1px solid white !important;
    border-left: 1px solid white !important;
    border-right: 1px solid white !important;
}

.THIS .right-align {
    text-align: right !important;
}

.THIS .slds-resizable__input{
    width: 100px;
    height: 30px;
}

.THIS .helptextIcon div{
    vertical-align: top !important;
}

.THIS.helptextIcon div{
    vertical-align: top !important;
}

.THIS td {
    padding: 4px 8px !important;
}