.THIS {
}

.THIS .slds-modal{
    z-index: 9015 !important;
}

.THIS .slds-backdrop{
    z-index: 9014 !important;
}


.THIS .slds-modal__content{
    /* min-height: 35vh !important; */
    overflow-x: auto !important;
}

.THIS .slds-modal__title .slds-button{
    font-size: 13px !important;
    font-weight: normal !important;
}

.THIS .text-right{
    text-align: right !important;
}

.THIS .text-center{
    text-align: center !important;
}

@media (min-width: 48em){
    .THIS .slds-modal__content {
        min-height: max-content !important;
    }
}