.THIS .custom-input {
    padding: 0 !important;
}
.THIS .padding-lookup {
    padding: 0 8%;
}

.THIS .custom-input-style {
    padding: 0 8%;
}

.THIS .custom-input-style input {
    padding: 0 1rem;
}

.THIS .slds-brand-band {
    max-width: 1080px;
    margin: auto;
    padding: 0px;
    margin-bottom: 4rem;
}
.THIS .input-error input, .THIS .input-error .slds-pill {
    border: 2px solid var(--lwc-colorTextError,rgb(234, 0, 30));
}
.THIS .input-error .custom-error-msg {
    margin-top: -5px;
    color: var(--lwc-colorTextError,rgb(234, 0, 30));
    font-size: 12px;
    margin-bottom: 12px;
}

.THIS .add-btn {
    padding: 0 4%;
    margin-top: 0px;
}

.THIS .add-btn button {
    font-size: 18px;
    line-height: 0px;
    height: 30px;
    width: 30px;
    padding: 0px;
}


.THIS .custom-combo-box {
    padding: 0 8% !important;
}

.THIS .custom-combo-box .slds-form-element__control {
    padding-left: 0px;
}

.THIS .icn-style {
   --sds-c-icon-color-foreground-default: white;
   /* --sds-c-icon-color-foreground: orange; */
   /* --sds-c-icon-color-background: white; */
}

.THIS .lookup-icn-style .slds-icon_container {
    --sds-c-icon-color-foreground-default: white;
}

.THIS.slds-is-relative .slds-spinner_container {
    height:567px !important;
}
.THIS .slds-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}

.THIS .slds-section__content {
    /* max-height: 360px !important; */
    height: 400px !important;
    overflow: auto !important;
}

.THIS .slds-section__title {
    margin-bottom: 10px;
}