.THIS .disable-button {
    /* background-color: #91db8b; */
    border-style: groove;
    margin-right: 5px;
    margin-top: -8px;
    /* opacity: .2 */
}

.THIS .continue-button {
    color: white;
    border-style: groove;
    margin-right: 5px;
    margin-top: -8px;

}
.THIS .decline-button {
     
     margin-top: -8px;
    /* margin-right: 2px; */
 

}
.THIS .consentController .body {
    height: 600px;
    /* opacity: .65 */
}

.THIS .navexDesktopLayoutContainer.desktop .viewport .stage.hasFixedFooter .slds-brand-band:not(.brand-band_magnetic):not(.brand-band_disabled)>.slds-template__container .oneContent:after {
    padding-bottom: 0px;
}