.fix_z_index{
    z-index: 10 !important;
}

.chart_border {
    border-style: solid;
    border-color: #e6e6e6;
}

.THIS div.slds-card__footer {
    padding: 0px;
}

.blue{
    --sds-c-icon-color-background: #3296ED;
    /* --sds-c-icon-color-foreground: #3296ED; */
}

.red{
    --sds-c-icon-color-background: #ba0517;
    --sds-c-icon-color-foreground: #ba0517;
}

.grey{
    --sds-c-icon-color-background: #eeeeee;
    /* --sds-c-icon-color-foreground: #eeeeee; */
}

.redDotTopRow{
    /* background: #ba0517; */
    /* --sds-c-icon-color-foreground-default: */
    --lwc-colorTextIconDefault:  #ba0517;
    position: relative;
    top: -12px;   
}


.redDotBottomRow{
    /* --sds-c-icon-color-foreground-default: #ba0517; */
    --lwc-colorTextIconDefault:  #ba0517;
    position: relative;
    top: -12px;
    /* left: 12px; */
}

.textWithDotTopRow{
    position: relative;
    top:0px
}
.textWithDotBottomRow{
    /* position: relative;
    left:12px */
}

.adjustBox{
    position: relative;
    left: 14%;
}