html, body, .page1, .contDiv {
    margin: 0;
    padding : 0;
    color: #313131;
}

.row{
    background-color: #eee;
    padding: 1.5rem 0;
    border-radius: 5px; 
    border: 1px solid #d4d4d4;
    font-family: "Noto Sans Thai Regular";
}

.containner{
    margin: 0 2rem;
    font-size: 110%;
}

.header{
    font-size: 35px;
    font-weight: 600;
    margin: 2rem;
}

.hr-header-footer{
    border-top: 1.5rem  solid #FFF;
    margin: 1rem 0 2rem 0;
}