
// Hover Animation Declaration //

// Slide Right //
@-webkit-keyframes slide-right {
	0%   { -webkit-margin-left: 0px; }
	100% { -webkit-margin-left: 5px; }
}
@-moz-keyframes slide-right {
	0%   { -moz-margin-left: 0px; }
	100% { -moz-margin-left: 5px; }
}
@-ms-keyframes slide-right {
	0%   { -ms-margin-left: 0px; }
	100% { -ms-margin-left: 5px; }
}
@-o-keyframes slide-right {
	0%   { -o-margin-left: 0px; }
	100% { -o-margin-left: 5px; }
}
@keyframes slide-right {
	0%   { margin-left: 0px; }
	100% { margin-left: 5px; }
}

// Slide Down //
@-webkit-keyframes slide-down {
	0% { 
		-webkit-top: -50px;
		-webkit-opacity: 0;
	}
	100% { 
		-webkit-top: 10px;
		-webkit-opacity: 1;
	}
}
@-moz-keyframes slide-down {
	0% { 
		-moz-top: -50px;
		-moz-opacity: 0;
	}
	100% { 
		-moz-top: 10px;
		-moz-opacity: 1;
	}
}
@-ms-keyframes slide-down {
	0% { 
		-ms-top: -50px;
		-ms-opacity: 0;
	}
	100% { 
		-ms-top: 10px;
		-ms-opacity: 1;
	}
}
@-o-keyframes slide-down {
	0% { 
		-o-top: -50px;
		-o-opacity: 0;
	}
	100% { 
		-o-top: 10px;
		-o-opacity: 1;
	}
}
@keyframes slide-down {
	0% { 
		top: -50px;
		opacity: 0;
	}
	100% { 
		top: 10px;
		opacity: 1;
	}
}

// Slide Up //
@-webkit-keyframes slide-up {
	0% { 
		-webkit-top: 120px;
		-webkit-opacity: 0;
	}
	100% { 
		-webkit-top: 60px;
		-webkit-opacity: 1;
	}
}
@-moz-keyframes slide-up {
	0% { 
		-moz-top: 120px;
		-moz-opacity: 0;
	}
	100% { 
		-moz-top: 60px;
		-moz-opacity: 1;
	}
}
@-ms-keyframes slide-up {
	0% { 
		-ms-top: 120px;
		-ms-opacity: 0;
	}
	100% { 
		-ms-top: 60px;
		-ms-opacity: 1;
	}
}
@-o-keyframes slide-up {
	0% { 
		-o-top: 120px;
		-o-opacity: 0;
	}
	100% { 
		-o-top: 60px;
		-o-opacity: 1;
	}
}
@keyframes slide-up {
	0% { 
		top: 120px;
		opacity: 0;
	}
	100% { 
		top: 60px;
		opacity: 1;
	}
}


// Fade In //
@-webkit-keyframes fade-in {
	0%   { -webkit-opacity: 0; -webkit-transform: scale(0);  }
	100% { -webkit-opacity: 1; -webkit-transform: scale(1); }
}
@-moz-keyframes fade-in {
	0%   { -moz-opacity: 0; -moz-transform: scale(0); }
	100% { -moz-opacity: 1; -moz-transform: scale(1); }
}
@-ms-keyframes fade-in {
	0%   { -ms-opacity: 0; -ms-transform: scale(0); }
	100% { -ms-opacity: 1; -ms-transform: scale(1);}
}
@-o-keyframes fade-in {
	0%   { -o-opacity: 0; -o-transform: scale(0);}
	100% { -o-opacity: 1; -o-transform: scale(1);}
}
@keyframes fade-in {
	0%   { opacity: 0; transform: scale(0);}
	100% { opacity: 1; transform: scale(1);}
}

// Wiggle //
@-webkit-keyframes wiggle {
	0%   { -webkit-transform: rotate(-30deg); }
	100% { -webkit-transform: rotate(30deg); }
}
@-moz-keyframes wiggle {
	0%   { -moz-transform: rotate(-30deg); }
	100% { -moz-transform: rotate(30deg); }
}
@-ms-keyframes wiggle {
	0%   { -ms-transform: rotate(-30deg); }
	100% { -ms-transform: rotate(30deg); }
}
@-o-keyframes wiggle {
	0%   { -o-transform: rotate(-30deg); }
	100% { -o-transform: rotate(30deg); }
}
@keyframes wiggle {
	0%   { transform: rotate(-30deg); }
	100% { transform: rotate(30deg); }
}

@-webkit-keyframes rotation {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(359deg); }
}
@-moz-keyframes rotation {
	0%   { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(359deg); }
}
@-ms-keyframes rotation {
	0%   { -ms-transform: rotate(0deg); }
	100% { -ms-transform: rotate(359deg); }
}
@-o-keyframes rotation {
	0%   { -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(359deg); }
}
@keyframes rotation {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(359deg); }
}

// Smoke //

@-webkit-keyframes smokeEven {
	0%   { 
		-webkit-transform: translate(-30px, -30px) scale(1);
		-webkit-opacity: .5; 
		-webkit-filter: blur(5px);
	}
	100% { 
		-webkit-transform: translate(-100px, -30px) scale(2); 
		-webkit-opacity: 0; 
		-webkit-filter: blur(10px);
	}
}
@-moz-keyframes smokeEven {
	0%   { 
		-moz-transform: translate(-30px, -30px) scale(1);
		-moz-opacity: .5;
		-moz-filter: blur(5px);
	}
	100% { 
		-moz-transform: translate(-100px, -30px) scale(2); 
		-moz-opacity: 0; 
		-moz-filter: blur(10px);
	}
}
@-ms-keyframes smokeEven {
	0%   { 
		-ms-transform: translate(-30px, -30px) scale(1);
		-ms-opacity: .5; 
		-ms-filter: blur(5px);
	}
	100% { 
		-ms-transform: translate(-100px, -30px) scale(2); 
		-ms-opacity: 0; 
		-ms-filter: blur(10px);
	}
}
@-o-keyframes smokeEven {
	0%   { 
		-o-transform: translate(-30px, -30px) scale(1);
		-o-opacity: .5; 
		-o-filter: blur(5px);
	}
	100% { 
		-o-transform: translate(-100px, -30px) scale(2); 
		-o-opacity: 0; 
		-o-filter: blur(10px);
	}
}
@keyframes smokeEven {
	0%   { 
		transform: translate(-30px, -30px) scale(1);
		opacity: .5; 
		filter: blur(5px); 
	}
	100% { 
		transform: translate(-100px, -30px) scale(2); 
		opacity: 0; 
		filter: blur(10px); 
	}
}

@-webkit-keyframes smokeOdd {
	0%   { 
		-webkit-transform: translate(-30px, -20px) scale(1);
		-webkit-opacity: .5; 
		-webkit-filter: blur(5px);
	}
	100% { 
		-webkit-transform: translate(-200px, -20px) scale(3); 
		-webkit-opacity: 0; 
		-webkit-filter: blur(10px);
	}
}
@-moz-keyframes smokeOdd {
	0%   { 
		-moz-transform: translate(-30px, -20px) scale(1);
		-moz-opacity: .5; 
		-moz-filter: blur(5px);
	}
	100% { 
		-moz-transform: translate(-200px, -20px) scale(3); 
		-moz-opacity: 0; 
		-moz-filter: blur(10px);
	}
}
@-ms-keyframes smokeOdd {
	0%   { 
		-ms-transform: translate(-30px, -20px) scale(1);
		-ms-opacity: .5; 
		-ms-filter: blur(5px);
	}
	100% { 
		-ms-transform: translate(-200px, -20px) scale(3); 
		-ms-opacity: 0; 
		-ms-filter: blur(10px);
	}
}
@-o-keyframes smokeOdd {
	0%   { 
		-o-transform: translate(-30px, -20px) scale(1);
		-o-opacity: .5; 
		-o-filter: blur(5px);
	}
	100% { 
		-o-transform: translate(-200px, -20px) scale(3); 
		-o-opacity: 0; 
		-o-filter: blur(10px);
	}
}
@keyframes smokeOdd {
	0%   { 
		transform: translate(-30px, -20px) scale(1);
		opacity: .5; 
		filter: blur(5px); 
	}
	100% { 
		transform: translate(-200px, -20px) scale(3); 
		opacity: 0; 
		filter: blur(10px); 
	}
}



// Insurance animation //

@mixin animate-insurance-o {
	img {
		&.top {
			position: relative;
			top: 10px;
		}
		&.bottom {
			position: relative;
			top: 60px;
		}
		&.middle {
			position: relative;
			top: -175px;
		}
	}
}
@mixin animate-insurance-1 {
	img {
		&.top {
			animation: slide-down 1s linear;
			-webkit-animation: slide-down 1s linear;
			-moz-animation: slide-down 1s linear;
			-o-animation: slide-down 1s linear;
		}
		&.bottom {
			animation: slide-up 1s linear;
			-webkit-animation: slide-up 1s linear;
			-moz-animation: slide-up 1s linear;
			-o-animation: slide-up 1s linear;
		}
		&.middle {
			animation: fade-in 1s linear;
			-webkit-animation: fade-in 1s linear;
			-moz-animation: fade-in 1s linear;
			-o-animation: fade-in 1s linear;
		}
	}
}

// Shopping animation //

@mixin animate-shopping-o {
	img {
		&.shield {
			position: relative;
			top: 70px;
		}
		&.lock {
			position: relative;
			top: -10px;
			left: 40px;
		}
	}
}
@mixin animate-shopping-1 {
	img {
		&.lock {
			animation: wiggle .1s 3 linear;
			-webkit-animation: wiggle .1s 3 linear;
			-moz-animation: wiggle .1s 3 linear;
			-o-animation: wiggle .1s 3 linear;
		}
	}
}

@mixin animate-chevron-o {
	i {
		margin: 3px 0 0 0px;
		
	}
}

@mixin animate-chevron-1 {
	i {
		animation: slide-right .5s ease-in forwards;
		-webkit-animation: slide-right .5s ease-in forwards;
		-moz-animation: slide-right .5s ease-in forwards;
		-o-animation: slide-right .5s ease-in forwards;
	}
}

@mixin wheels {
	img {
		&.spin {
			animation: rotation 1s infinite linear;
			-webkit-animation: rotation 1s infinite linear;
			-moz-animation: rotation 1s infinite linear;
			-o-animation: rotation 1s infinite linear;
		}
	}
}

@mixin smoke {
	li {
		position: absolute;
		list-style: none;
		width: 80px;
		height: 80px;
		background: #ccc;
		border-radius: 50%;
		&:nth-child(even) {
			animation: smokeEven 2.8s linear infinite;
		}
		&:nth-child(odd) {
			animation: smokeOdd 2.8s linear infinite;
		}
		&:nth-child(1) {
			animation-delay: 0s;
		}
		&:nth-child(2) {
			animation-delay: .4s;
		}
		&:nth-child(3) {
			animation-delay: .8s;
		}
		&:nth-child(4) {
			animation-delay: 1.2s;
		}
		&:nth-child(5) {
			animation-delay: 1.6s;
		}
		&:nth-child(6) {
			animation-delay: 2s;
		}
		&:nth-child(7) {
			animation-delay: 2.4s;
		}
		&:nth-child(8) {
			animation-delay: 2.8s;
		}
		&:nth-child(9) {
			animation-delay: 3.2s;
		}
	}
}










