// Mixin //

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007abc', endColorstr='#00588f',GradientType=0 ); /* IE6-9 */
}

@mixin button-cta {
	border-radius: 40px;
	background-color: $brand-primary;
	padding: 3px 20px;
	color: white;
	border-bottom: 5px solid #035581;
	display: inline-block;
	position: relative;
	h5 {
		font-family: $font-bold;
		padding-top: 8px;
	}
}

@mixin button-cta-light {
	border-radius: 40px;
	padding: 3px 20px;
	color: #333;
	border: 1px solid $brand-primary;
	display: inline-block;
	font-family: $font-bold;
	background: transparent;
	h2 {
		padding: 5px 10px 0 0;
		margin: 0;
		display: inline;
	}
}

@mixin article-title {
	font-family: $font-regular;
	font-size: $size-article-title;
	line-height: 1.5rem;
	padding-top: 15px;
	margin-top: -5px;
	display: block;
	height: 60px;
}

@mixin border-section {
	border-top: 5px solid #fff;
}

@mixin nav-active {
	background: $brand-primary;
	border-radius: 5px;
	a {
		color: white;
	}
}


