.THIS {
    background-color: white;
    overflow: scroll;
    height: 100%;
}

.THIS .scrollerSize {
    height: -webkit-fill-available;
    position: relative;
}

.THIS .slds-page-header_object-home {
    background-color: #F7F9FB;
    /* border-bottom: 0; */
    border-radius: 0;
    /* background: rgb(243, 242, 242); */
    box-shadow: none;
    border: none;
}

.THIS .btn-next {
    padding-bottom: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
}
@media (min-width:700px) and (max-width:720px) and (max-height: 1139px) {
    .THIS .btn-next{
        position: unset ;
        /* bottom: 0;
        right: 0; */
        padding-bottom: 1.5rem;
    }
}

.THIS input[type="date"] {
    display: flex;
}

@media (min-width: 900px) {
    .THIS {
        background-color: white;
        position: relative;
        padding-bottom: none;
    }

    .THIS .btn-next {
        /* padding-bottom: 1.5rem; */
        position: unset;
        /* bottom: 0;right: 0; */
    }
}

.THIS .slds-text-heading_medium {
    color: #16325C;
}

.THIS .slds-is-incomplete span {
    color: #16325C;
}

.THIS .slds-is-complete,
.THIS .slds-is-complete::before,
.THIS .slds-is-current::before {
    background-color: #04844B;
}