.THIS .first-child {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 99;
    border-top-width: 1px;
    margin-top: -1px;
}

.THIS th {
    position: sticky;
    top: 0;
    z-index: 2;
}

.THIS.top-scrollbars {
    max-height:400px;
}

.THIS .fixed-column {
    position: sticky;
    z-index: 3;
    left: 0px;
    min-width: 175px;
    max-width: 175px;
}

.THIS th {
    padding: 4px 8px !important;
    position: sticky;
    top: 0;
    z-index: 2;
}
  
.THIS .border-line-color {
    border-top: 1px solid white !important;
    border-bottom: 1px solid white !important;
    border-left: 1px solid white !important;
    border-right: 1px solid white !important;
}

.THIS .first-color {
    background-color: rgba(255, 165, 0);
    color: rgba(38, 38, 27);
}

.THIS .second-color {
    background-color: rgba(13, 110, 221);
    color: #fff;
}

.THIS .second-color svg {
    fill:rgba(255, 255, 255);
}

.THIS .third-color {
    background-color: rgb(115, 115, 115);
    color:rgba(255, 255, 255);
}

.THIS .third-color .slds-form-element__label {
    color:rgba(255, 255, 255);
}

.THIS .third-color svg {
    fill:rgba(255, 255, 255);
}

.THIS td {
    padding: 4px 8px !important;
}

.THIS .helptextIcon div{
    vertical-align: top !important;
}

.THIS.helptextIcon div{
    vertical-align: top !important;
}

.THIS .label-hidden > label {
    display: none;
}