.THIS .center-box {
    /* width: 50%; */
    border: 1px solid #D3D3D3;
    float: left;
    padding: 5%;
    margin: 0 auto;
    /* margin-bottom: 10%; */
}

.THIS .section-modal {
    /* min-height: 20%; */
    display: flex;
    justify-content: center;
}