.THIS {}

.THIS .license-row {
    display: flex;
    margin-top: 4px;
}

.THIS .license-circle {
    display: flex;
    width: 31px;
    height: 31px;
    background: #ffbe87;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5px;
}

.THIS .border-rounded {
    border: solid 1px #000;
}

.THIS .text-ghost {
    color: #617c8a;
}

.THIS .license-circle .license {
    font-weight: 800;
    font-size: 11px;
}

.THIS .label-hidden>label {
    display: none;
}

.THIS .href-text {
    background: transparent;
    color: #0073ff;
    border: none;
    text-decoration: underline;
    outline: none;
}

.THIS .offset-text {
    line-height: 30px;
    margin: 0 1rem;
}

.THIS .flex {
    display: flex;
}

.THIS .justify-end {
    justify-content: flex-end;
}

.THIS .slds-text-title_caps {
    border: solid #000 1px;
}

.THIS .header-sort:hover {
    cursor: pointer;
    color: rgb(41, 41, 41);
    background: #e5e5e5;
}

.THIS .unsort {
    opacity: 0.5;
}

.THIS .checked-icon {
    position: absolute;
    margin-top: 13px;
    font-size: 7px;
    margin-left: 6px;
}

.THIS .table-head:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
 }

.THIS .summary-button svg {
    width: 100%; 
    height: 1.3rem;
}