.THIS .slds-tabs_default{
    border-bottom: 1pt solid black;
    border-top: 1pt solid black;
    border-left: 1pt solid black;
    border-right: 1pt solid black;
}

.THIS .row-section {
    display: flex;
    width: 100%;
}